@media (max-width:1200px) {
    h1 {
        font-size: 30px;
    }

    .mobile-no {
        width: 60%;
    }

    .permanent-nav ul li a p {
        font-size: 10px;
        line-height: 1.5;
    }
}
//
@media (max-width: $screen-sm-max) {
    .container {
        width: 100%;
        padding: 0 25px;
    }

    .pl-60 {
        padding-left: 60px;
    }

    header {
        img {
            zoom: 0.7;
        }

        .head-2 {
            .menu-box {
                margin: 15px 0;
                font-size: 12px;

                .btn {
                    border-radius: 4px;
                    padding: 6px 12px;
                    font-size: 12px;
                }

                .cmp-content,
                .health-content {
                    width: 150px;
                    padding: 10px;

                    a + a {
                        border-top: 1px solid #03A14C;
                        padding-top: 15px;
                    }
                }
            }
        }

        .head-2 .menu-box .cmp-btn a,
        .head-2 .menu-box .health-btn a {
            padding-right: 25px;
            padding-bottom: 5px;
        }
    }

    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 21px;
    }

    .senior-cont,
    .senior-point,
    .senior-prod,
    .senior-req,
    .senior-why {
        padding: 20px 0;
    }

    .senior-padd {
        padding: 0;

        .txt-left {
            padding: 0;

            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }

        .txt-right {
            padding: 0;

            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }

    .senior-point {
        font-size: 14px;
    }

    .senior-click {
        width: 100%;
    }

    .senior-tax {
        padding: 20px 0;
    }

    .senior-why p {
        font-size: 14px;
        line-height: 1.5;
    }

    .value-head ul li a {
        font-size: 14px;
    }

    .press-subs,
    .req-quo-frm {
        input {
            margin-bottom: 20px;
        }
    }

    .press-page {
        .padding40 {
            padding: 20px 0;
        }
    }

    .press-head ul li {
        padding-left: 2px;
        padding-right: 2px;
    }

    .press-head ul li a {
        padding: 10px 8px;
        margin: 20px 5px;
        font-size: 14px;
    }

    .permanent-nav {
        ul {
            border-left: none;

            li {
                margin: 0 5px;
                position: relative;

                &:after {
                    height: 6px;
                    width: 50px;
                    content: "";
                    position: absolute;
                    right: -20px;
                    color: #c1c1c1;
                    z-index: 999;
                    background: #c1c1c1;
                    top: 15px;
                }
            }

            li:last-child:after {
                content: ".";
                display: none;
            }
        }
    }

    .faq h1 {
        font-size: 30px;
    }

    .faq .help-feed {
        width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    .date-col input[type="date"] {
        height: 45px;
    }

    .press-subs h4 {
        margin-bottom: 10px;
    }

    .product-card,
    .title-image {
        img {
            width: 100%;
        }
    }

    .home-page {
        .div-one {
            h1 {
                font-size: 24px;
            }
        }
    }

    .product-detail-tab a {
        height: 100px;
    }

    .why-tab {
        margin: 20px;
    }

    .fileContainer {
        display: block;
        text-align: center;
    }

    .career-sec {
        h2 {
            font-size: 24px;
        }

        .career-cont {
            font-size: 14px;
            padding: 10px 0;
        }

        h4 {
            font-size: 14px;
        }
    }

    .career .padding-top40 {
        padding-top: 10px;
    }

    .career .btn-browse {
        margin-bottom: 10px;
    }

    .mob-marg {
        margin: 10px 0;
    }

    .get-call .call-bg {
        background: none;
        height: auto;
    }

    .scl-btn {
        margin: 5px;

        img {
            zoom: 0.8;
        }
    }

    input[type="date"] {
        width: 100%;
    }

    .senior-hd-bg button {
        width: 60%;
    }

    .senior-prod button {
        width: 50%;
        font-size: 16px;
    }

    .dashboard-myprofile, .dashboard-contact .nav-item a {
        padding: 15px 35px !important;
        font-size: 12px;
    }
}
//
@media (max-width: $screen-xs-max) {
    footer .foot-1 .foot-links {
        display: block;

        ul:first-child {
            padding-left: 40px;
        }
    }

    .box-ht {
        height: 250px;
    }

    .bg-white{
      p{
        font-size: 12px;
        line-height: 1;
      }
    }

    .btn-back, .btn-continue{
          padding: 6px 25px;
    }

    .icon-box img {
        zoom: 0.6;
    }

    hr{
      display: none;
    }

    .download img {
        zoom: 0.6;
    }

    .download h4{
      padding-left: 5px;
    }

    footer .foot-1 .foot-address .icons {
        float: none;
    }

    .dashboard-myprofile, .dashboard-contact .nav-item a {
        padding: 10px 20px !important;
    }

    .dashboard-contact{
      span{
        font-size: 12px;
      }
    }

    h1 {
        font-size: 24px !important;
    }

    .value-head ul li {
        margin-bottom: 31px;
    }

    .get-quote {
        .div-four {
            .col-xs-6 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .press-head ul li a {
        padding: 10px 12px;
        margin: 20px 10px;
        font-size: 12px;

        .press-head ul li {
            margin-top: 35px;
        }
    }

    .center-bord {
        border: none;
    }

    .font-sz24 {
        font-size: 24px;
    }

    .faq h1 {
        font-size: 24px;
    }

    .faq p {
        font-size: 12px;
    }

    .permanent-nav {
        ul {
            li {
                &:after {
                    width: 45px;
                }

                span {
                    margin: -2px 20px 0 0;
                }
            }
        }
    }

    .buy-process-bar {
        ul {
            li {
                margin: 4px 4px 10px -4px;
                display: block;

                &:after {
                    border: 12px solid transparent;
                }

                a {
                    padding: 5px 15px 5px 20px;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
            }
        }
    }

    .health-service {
        .col-2,
        .col-3 {
            margin-left: 0;
        }
    }

    h4 {
        font-size: 14px;
    }

    .home-page {
        .mob-cent {
            float: none;
        }
    }

    h2 {
        margin-top: 10px;
    }

    .ask-expert .expert-cover .name .l-name {
        padding-left: 15px;
    }

    .ask-expert .expert-cover .name .f-name {
        padding-right: 15px;
        margin-bottom: 10px;
    }

    .buy1-radio .radio-span {
        text-align: left;
        font-size: 14px;
        margin-top: 10px;
    }

    .buy1-iam input {
        margin: 10px 0;
    }

    .buy1-family .date-col input[type="date"] {
        padding: 12px 2%;
    }
}
//
@media (max-width: $screen-md-max) {
    .padding40 {
        padding: 10px;
    }
}
//
@media (max-width:480px) {
    .foot-links {
        display: block;

        ul:first-child {
            padding-left: 40px;
        }
    }
}
//
@media (max-width:360px) {}
//
