//defaults
$fb-color: #5174af !default;
$g-plus-color: #dc473c !default;
$black-color: #000;
$shadow-col: #ececec;

.bord-rad5 {
    border-radius: 5px;
}

.padd-lf20 {
    padding-left: 20px;
}

.marg-24 {
    margin: 24px;
}

.padding40 {
    padding: 40px;
}

.disp-blk {
    display: block;
}

.disp-inblk {
    display: inline-block;
}

.disp-inline {
    display: inline;
}

.left-align {
    text-align: left;
}

.brand-danger{
  color: $brand-danger;
}

.brand-primary{
  color: $brand-primary;
}

.font-color {
    color: $font-color;
}

.dark-font-color {
    color: $dark-font-color;
}

.font-color2 {
    color: #868686;
}

.dark-font-color2 {
    color: #4b4b4b;
}

.font-sz16 {
    font-size: 16px;
}

.col-696969 {
    color: #696969;
}

.font-wt700 {
    font-weight: 700;
}

.font-wt600 {
    font-weight: 600;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-col-blue {
    text-decoration: none;
    color: $brand-primary;

    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }

    &:focus {
        color: $brand-primary;
        text-decoration: none;
    }
}

.black-color {
    color: $black-color;
}

.text-uppercase {
    text-transform: uppercase;
}
//login page starts here

.login-sec {
    border: none;
    text-align: center;
}

.scl-btn {
    margin: 10px;
}

.fb-login {
    color: white;
    background-color: $fb-color;
    text-decoration: none;
    padding: 10px 15px;

    span {
        padding: 18px 10px;
        margin-right: 10px;
        border-right: 1px solid white;

        img {
            padding: 0 10px 0 0;
        }
    }

    &:hover {
        background-color: $fb-color;
        border-color: $fb-color;
        text-decoration: none;
    }

    &:focus {
        background-color: $fb-color;
        border-color: $fb-color;
        text-decoration: none;
    }
}

.g-plus-login {
    color: white;
    background-color: $g-plus-color;
    text-decoration: none;
    padding: 10px 15px;

    span {
        border-right: 1px solid white;
        padding: 18px 10px;
        margin-right: 10px;

        img {
            padding: 0 10px 0 0;
        }
    }

    &:hover {
        background-color: $g-plus-color;
        border-color: $g-plus-color;
        text-decoration: none;
    }

    &:focus {
        background-color: $g-plus-color;
        border-color: $g-plus-color;
        text-decoration: none;
    }
}

.divider {
    border-top: 1px solid #e0e0e0;
    position: relative;
    min-height: 30px;
    margin-top: 15px;

    &:before {
        content: 'OR';
        position: absolute;
        top: -15px;
        font-size: 20px;
        background-color: #fff;
        padding: 0 16px;
        left: 50%;
        transform: translateX(-50%);
    }

    span {
        display: none;
    }
}

.login-form {
    box-shadow: 0 0 5px #888888;
    text-align: center;
    width: 100%;

    a {
        text-decoration: none;
        color: $brand-primary;

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }

        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.form-style {
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    width: 100%;

    input {
        border: 2px solid #d9d9d9;
        padding: 10px 15px;
        border-radius: 0 5px 5px 0;
        width: 100%;
    }

    .input-group-addon {
        border: 2px solid #d9d9d9;
        font-size: 16px;
        background: #d9d9d9;
        color: white;
        border-radius: 5px 0 0 5px;
        padding: 10px 15px;
    }
}
// .opt-btn{
//   margin: 0 20px;
// }

.btn-login {
    width: 100%;
    margin: 20px 0;
}

.opt {
    display: block;
    width: 100%;

    .form-style {
        width: 70%;
        float: left;
    }
}

.otp-btn {
    text-align: right;
    width: 30%;
    display: inline-block;
    float: left;
    margin-top: 27px;
}

h4 {
    a {
        text-decoration: none;
        color: $brand-primary;
        font-weight: 600;

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }

        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}
//Privacy policy pagE

.policy-sec {
    text-align: center;

    p {
        font-size: 12px;
    }

    ul {
        list-style-type: disc;
        font-weight: 700;

        li {
            color: $dark-font-color;
            padding-left: 16px;

            span {
                color: $black-color;
                font-size: 12px;
            }
        }
    }
}

.req-quo-frm {
    input {
        padding: 20px 10px;
        border-radius: 5px;

        &::-webkit-input-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &:-moz-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &::-moz-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &:-ms-input-placeholder {
            color: $black-color;
            font-size: 14px;
        }
    }
}

.req-q-btn {
    border-radius: 4px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
}
//Our team pagE

.ourteam-sec {
    text-align: center;
}

.team1 {
    background: #f2f5f9 url('../img/team-bg.png') repeat-x left bottom;
    padding: 10px 0 0;
}

.ot-name {
    h2 {
        color: $brand-danger;
        font-weight: 700;
    }

    p {
        color: $brand-primary;
        font-size: 16px;
    }
    text-align: left;
    text-transform: capitalize;
}

.ot-cont {
    color: $font-color;
    text-align: left;
    font-size: 16x;
}

.view-icon-green {
    background: url("../img/view-icon-green.png") no-repeat scroll 0 3px;
    height: 15px;
    width: 15px;
}

.test-card {
    border: 1px solid $shadow-col;
    box-shadow: 0 0 5px $shadow-col;
    padding: 10% 5%;
    margin: 0 0 10%;
    height: 400px;

    img {
        margin: 0 auto;
        border-radius: 50%;
    }
    .test-cont{
      color: #696969;
      font-size: 16px;
    }
    .test-name{
      color: $brand-danger;
      font-weight: 700;
      font-size: 18px;
    }
}

.loading-img{
  border: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

//Careers sectioN
.career-sec{
  .career-cont{
    color: #4b4b4b;
    font-size: 22px;
    font-weight: 300;
  }
  .career-up{
    color: #4f4f4f;
  }
}

.padding-top40{
  padding-top: 40px;
}
