//defaults
$fb-color: #5174af !default;
$g-plus-color: #dc473c !default;
$black-color: #000 !default;
$shadow-col: #ececec !default;
$white-color: #fff !default;

.posi-rel {
    position: relative;
}

.posi-abs {
    position: absolute;
}

.bord-rad5 {
    border-radius: 5px;
}

.padd-lf20 {
    padding-left: 20px;
}

.marg-24 {
    margin: 24px;
}

.padding40 {
    padding: 40px;
}

.margin40 {
    margin: 40px 0;
}

.disp-blk {
    display: block;
}

.disp-inblk {
    display: inline-block;
}

.disp-inline {
    display: inline;
}

.left-align {
    text-align: left;
}

.brand-danger {
    color: $brand-danger;
}

.brand-primary {
    color: $brand-primary;
}

.font-color {
    color: $font-color;
}

.dark-font-color {
    color: $dark-font-color;
}

.font-color2 {
    color: #868686;
}

.dark-font-color2 {
    color: #4b4b4b;
}

.font-sz16 {
    font-size: 16px;
}

.font-sz18 {
    font-size: 18px;
}

.col-696969 {
    color: #696969;
}

.font-wt700 {
    font-weight: 700;
}

.font-wt600 {
    font-weight: 600;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-col-blue {
    text-decoration: none;
    color: $brand-primary;

    &:hover {
        color: $brand-primary;
        text-decoration: none;
    }

    &:focus {
        color: $brand-primary;
        text-decoration: none;
    }
}

.black-color {
    color: $black-color;
}

.text-uppercase {
    text-transform: uppercase;
}

.marg-tp0 {
    margin-top: 0;
}

.marg-tp40{
  margin: 40px 0 0;
}
//login page starts here

.login-sec {
    border: none;
    text-align: center;
}

.scl-btn {
    margin: 10px;
}

.fb-login {
    color: white;
    background-color: $fb-color;
    text-decoration: none;
    padding: 10px 15px;

    span {
        padding: 18px 10px;
        margin-right: 10px;
        border-right: 1px solid white;

        img {
            padding: 0 10px 0 0;
        }
    }

    &:hover {
        background-color: $fb-color;
        border-color: $fb-color;
        text-decoration: none;
    }

    &:focus {
        background-color: $fb-color;
        border-color: $fb-color;
        text-decoration: none;
    }
}

.g-plus-login {
    color: white;
    background-color: $g-plus-color;
    text-decoration: none;
    padding: 10px 15px;

    span {
        border-right: 1px solid white;
        padding: 18px 10px;
        margin-right: 10px;

        img {
            padding: 0 10px 0 0;
        }
    }

    &:hover {
        background-color: $g-plus-color;
        border-color: $g-plus-color;
        text-decoration: none;
    }

    &:focus {
        background-color: $g-plus-color;
        border-color: $g-plus-color;
        text-decoration: none;
    }
}

.divider {
    border-top: 1px solid #e0e0e0;
    position: relative;
    min-height: 30px;
    margin-top: 15px;

    &:before {
        content: 'OR';
        position: absolute;
        top: -2px;
        font-size: 20px;
        background-color: #fff;
        padding: 0 16px;
        left: 50%;
        @include transform(translate(-50%,-50%));
    }

    span {
        display: none;
    }
}

.login-form {
    box-shadow: 0 0 5px #888888;
    text-align: center;
    width: 100%;

    a {
        text-decoration: none;
        color: $brand-primary;

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }

        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.form-style {
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    width: 100%;

    input {
        border: 2px solid #d9d9d9;
        padding: 10px 15px;
        border-radius: 0 5px 5px 0;
        width: 100%;
    }

    .input-group-addon {
        border: 2px solid #d9d9d9;
        font-size: 16px;
        background: #d9d9d9;
        color: white;
        border-radius: 5px 0 0 5px;
        padding: 10px 15px;
    }
}
// .opt-btn{
//   margin: 0 20px;
// }

.btn-login {
    width: 100%;
    margin: 20px 0;
}

.opt {
    display: block;
    width: 100%;

    .form-style {
        width: 70%;
        float: left;
    }
}

.otp-btn {
    text-align: right;
    width: 30%;
    display: inline-block;
    float: left;
    margin-top: 27px;
}

h4 {
    a {
        text-decoration: none;
        color: $brand-primary;
        font-weight: 600;

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }

        &:focus {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.marg-bt40 {
    margin-bottom: 40px;
}

.divider2 {
    border-top: 1px solid #e0e0e0;
    position: relative;
    min-height: 30px;
    margin-top: 30px;

    &:before {
        content: 'OR';
        position: absolute;
        top: -2px;
        font-size: 20px;
        background-color: #fff;
        padding: 0 16px;
        left: 50%;
        @include transform(translate(-50%,-50%));
    }

    span {
        display: none;
    }
}
//Privacy policy pagE

.policy-sec {
    text-align: center;

    p {
        font-size: 12px;
    }

    ul {
        list-style-type: disc;
        font-weight: 700;

        li {
            color: $dark-font-color;
            padding-left: 16px;

            span {
                color: $black-color;
                font-size: 12px;
            }
        }
    }
}

.req-quo-frm {
    input {
        padding: 20px 10px;
        border-radius: 5px;

        &::-webkit-input-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &:-moz-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &::-moz-placeholder {
            color: $black-color;
            font-size: 14px;
        }

        &:-ms-input-placeholder {
            color: $black-color;
            font-size: 14px;
        }
    }
}

.req-q-btn {
    border-radius: 4px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
}
//Our team pagE

.ourteam-sec {
    text-align: center;

    h1 {
        margin-bottom: 0;
        padding: 0;
    }
}

.team1 {
    background: #f2f5f9 url('../img/team-bg.png') repeat-x left bottom;
    padding: 10px 0 0;
}

.ot-name {
    h2 {
        color: $brand-danger;
        font-weight: 700;
    }

    p {
        color: $brand-primary;
        font-size: 16px;
    }
    text-align: left;
    text-transform: capitalize;
}

.ot-cont {
    color: $font-color;
    text-align: left;
    font-size: 16x;
}

.view-icon-green {
    background: url("../img/view-icon-green.png") no-repeat scroll 0 3px;
    height: 15px;
    width: 15px;
    padding-left: 20px;

    span {
      font-style: normal;
        color: $brand-success;
        font-weight: 700;
    }
}

.test-card {
    border: 1px solid $shadow-col;
    box-shadow: 0 0 5px $shadow-col;
    padding: 10% 5%;
    margin: 0 0 10%;
    height: 400px;

    img {
        margin: 0 auto;
        border-radius: 50%;
    }

    .test-cont {
        color: #696969;
        font-size: 16px;
    }

    .test-name {
        color: $brand-danger;
        font-weight: 700;
        font-size: 18px;
    }
}

.loading-img {
    border: none;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
//Careers sectioN

.career-sec {
    .career-cont {
        color: #4b4b4b;
        font-size: 22px;
        font-weight: 300;
        padding: 30px 0;
    }

    .career-up {
        color: #4f4f4f;
    }
}

.padding-top40 {
    padding-top: 40px;
}
//Get-call sectioN

.get-call {
    .call-bg {
        background: url("../img/free-quote-bg.jpg") no-repeat;
        height: 100vh;
    }

    .padd-tb-20 {
        padding: 20px 0;
    }

    .form-group {
        margin: 20px 0;

        input {
            border: 1px solid #d9e1ed;
            line-height: 45px;
            color: #000;
            width: 100%;
            font-size: 16px;
        }

        select {
            border: 1px solid #d9e1ed;
            height: 48px;
            color: #000;
            width: 100%;
            font-size: 16px;
            -webkit-appearance: none;
        }

        label {
            font-weight: 500;
            padding-left: 5px;
            font-size: 16px;
        }

        button {
            font-size: 18px;
            font-weight: 700;
            padding: 6px 25px;
            border-radius: 5px;
        }
    }
}

.select-div {
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: $brand-danger transparent transparent transparent;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        bottom: 15px;
        right: 5px;
        position: absolute;
    }
}
//Our story sectioN

.blue-bg {
    background: #8bb5c4;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #909da2 transparent transparent transparent;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        top: 0;
        left: 50%;
        position: absolute;
        //transform: translateX(-50%);
        @include transform(translateX(-50%));
    }
}

.gray-bg {
    background: #909da2;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #8bb5c4 transparent transparent transparent;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        top: 0;
        left: 50%;
        position: absolute;
        // transform: translateX(-50%);
        @include transform(translateX(-50%));
    }
}

.padd-tb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-bt50 {
    margin-bottom: 50px;
}

.marg-tb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.white-font {
    color: $white-color;
}

.first-bx {
    border-radius: 20px 20px 0 0;

    &:before {
        border-color: $white-color transparent transparent transparent;
    }
}

.last-bx {
    border-radius: 0 0 20px 20px;

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 30px;
        border-color: #909da2 transparent transparent transparent;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        left: 50%;
        bottom: -30px;
        position: absolute;
        // transform: translateX(-50%);
        @include transform(translateX(-50%));
    }
}

.padd-lf10 {
    padding-left: 10px;
}

.marg-bt20 {
    margin-bottom: 20px;
}

.why-tab {
    margin: 50px 150px;

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.cl {
    clear: both;
    height: 0;
}
// CARDS OF SERVICE LIST//

.health-service {
    position: relative;
    border-top: 1px solid #cdcdcd;
    margin: 30px 0 80px;
}

.health-service:before {
    content: '';
    position: absolute;
    top: -0.1%;
    left: 50%;
    margin-left: -28px;
    background: url("../img/arrow-down.jpg") no-repeat bottom center;
    height: 27px;
    width: 56px;
}

.health-service h4 {
    padding: 60px 0 35px;
    margin: 0;
    text-align: center; //font-family: 'latobold';
    font-size: 36px;
    color: #000;
}

.health-service .col-1,
.health-service .col-2,
.health-service .col-3 {
    width: 310px;
    float: left;
    margin-left: 25px;
}

.health-service .col-1 {
    margin-left: 0;
}

.health-service ul {
    margin: 0;
    padding: 0;
}

.health-service ul li {
    display: inline-block;
    border: 2px solid #e0e0e0;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 30px 15px 15px;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.health-service ul li:hover {
    border: 2px solid #26b1e6;
}

.health-service ul li .h-service-icon {
    text-align: center;
    min-height: 100px;
}

.health-service ul li h5 {
    margin: 0;
    padding: 0;
    color: #000; //font-family: 'robotoblack';
    font-size: 18px;
    min-height: 35px;
    text-align: center;
}

.health-service ul li span {
    color: #696969;
    font-size: 14px;
    line-height: 22px; //font-family: 'robotoregular';
    margin: 0;
    padding: 0;
}

.health-service ul li a {
    color: #696969;
    display: block;
    margin-top: 20px;
    float: right;
    outline: none;
}

.health-service ul li a:hover {
    opacity: 0.4;
}

.health-service ul li a span {
    color: #26b1e6;
}

.health-service ul li a:hover {
    color: #26b1e6;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.positive {
    background: url("../img/moretext-icon.png") no-repeat;
    width: 21px;
    height: 13px;
}

.negative {
    background: url("../img/lesstext-icon.png") no-repeat;
    width: 21px;
    height: 13px;
}
//Senior citizen page addeD

.senior-hd-bg {
    background: url("../img/citizen-banner.jpg") no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 5%;
    background-position: 50%;
    text-align: center;

    .head-txt {
        bottom: 0;
    }

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 20px;
    }
}

.senior-cont {
    padding: 40px;
}

.senior-padd {
    padding: 30px;
    font-weight: 300;

    .txt-left {
        padding: 20px;
        p{
          font-size: 17px;
          line-height: 28px;
        }
    }

    .txt-right {
        padding: 10px 20px 20px;
        p{
          font-size: 17px;
          line-height: 28px;
        }
    }
}

.senior-click {
    width: 40%;
    margin: 0 auto;

    .input-group {
        //border: 1px solid $brand-success;
        border-radius: 4px 4px 4px 4px;

        .btn {
            border-radius: 0 4px 4px 0;
            font-size: 12px;
            height: 34px;
        }

        input {
            font-size: 16px;
            font-weight: 300;
            border-radius: 4px 0 0 4px;
            border: 2px solid $brand-success;

            &::-webkit-input-placeholder {
                color: $black-color;
            }

            &:-moz-placeholder {
                color: $black-color;
            }

            &::-moz-placeholder {
                color: $black-color;
            }

            &:-ms-input-placeholder {
                color: $black-color;
            }
        }
    }
}

.senior-point {
    background: #f3f8fa url("../img/citizen-plan-img.png") no-repeat top center;
    //background-size: cover;
    font-size: 18px;
    padding: 40px;

    ul {
        li {
            list-style: none;
            background: url("../img/arrow-bg.png") no-repeat;
            padding-left: 30px;
            margin: 20px 0;
        }
    }
}

.senior-tax {
    background: $brand-danger;
    color: $white-color;
    padding: 40px;

    p {
        font-size: 20px;
    }
}

.senior-prod {
    padding: 40px;

    ul {
        li {
            list-style: none;
            margin: 20px 10px 40px;

            div {
                padding: 0 10px;
                font-size: 16px;
            }

            .center-bord {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                margin-left: 0;
                margin-right: 0;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 20px;
    }
}

.senior-why {
    padding: 40px;
    background: #fafcfd;

    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
    }
}

.senior-req {
    text-align: center;
    padding: 50px;
}
//Personal accident sectioN

.peraccident-hd-bg {
    background: url("../img/citizen-banner.jpg") no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 5%;
    background-position: 50%;
    text-align: center;

    .head-txt {
        bottom: 0;
    }

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 20px;
    }
}

.peraccident-cont {
    padding: 40px;
}

.peraccident-padd {
    padding: 30px;
    font-weight: 300;

    .txt-left {
        padding: 20px;
    }

    .txt-right {
        padding: 10px 20px 20px;
    }
}

.peraccident-click {
    width: 40%;
    margin: 0 auto;

    .input-group {
        //border: 1px solid $brand-success;
        border-radius: 4px 4px 4px 4px;

        .btn {
            border-radius: 0 4px 4px 0;
            font-size: 12px;
            height: 34px;
        }

        input {
            font-size: 16px;
            font-weight: 300;
            border-radius: 4px 0 0 4px;
            border: 2px solid $brand-success;

            &::-webkit-input-placeholder {
                color: $black-color;
            }

            &:-moz-placeholder {
                color: $black-color;
            }

            &::-moz-placeholder {
                color: $black-color;
            }

            &:-ms-input-placeholder {
                color: $black-color;
            }
        }
    }
}

.peraccident-point {
    background: #f3f8fa url("../img/citizen-plan-img.png") no-repeat top center;
    //background-size: cover;
    font-size: 18px;
    padding: 40px;

    ul {
        li {
            list-style: none;
            background: url("../img/arrow-bg.png") no-repeat;
            padding-left: 30px;
            margin: 20px 0;
        }
    }
}

.peraccident-tax {
    background: $brand-danger;
    color: $white-color;
    padding: 40px;

    p {
        font-size: 20px;
    }
}

.peraccident-prod {
    padding: 40px;

    ul {
        li {
            list-style: none;
            margin: 20px 10px 40px;

            div {
                padding: 0 10px;
                font-size: 16px;
            }

            .center-bord {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                margin-left: 0;
                margin-right: 0;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    button {
        width: 30%;
        margin: 0 auto;
        font-size: 20px;
    }
}

.peraccident-why {
    padding: 40px;
    background: #fafcfd;

    p {
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
    }
}

.peraccident-req {
    text-align: center;
    padding: 50px;
}
//Our value sectioN

.our-value {
    img {
        margin: 0 auto;
    }
}

.value-head {
    h1 {
        margin-bottom: 30px;
    }

    ul {
        li {
            position: relative;

            a {
                color: $white-color;
                background: #C0C0C0;
                padding: 10px 20px;
                margin: 20px 10px;
                border-radius: 5px;
                font-size: 18px;

                // &.active {
                //     background: $brand-danger;
                //
                //     &:before {
                //         content: '';
                //         width: 0;
                //         height: 0;
                //         border-style: solid;
                //         border-width: 10px 5px 0 5px;
                //         border-color: $brand-danger transparent transparent transparent;
                //         display: inline-block;
                //         vertical-align: middle;
                //         margin-right: 5px;
                //         bottom: -17px;
                //         left: 50%;
                //         // transform: translateX(-50%);
                //         @include transform(translateX(-50%));
                //         position: absolute;
                //     }
                // }
            }
        }
    }
}

.value-commitment,
.value-main,
.value-passion,
.value-promise {
    p {
        margin: 20px 0;
    }
}
//Buying process step1 pagE
//PROGRESS BAR STARTS

.progress-bar {
    padding: 40px 0;
    position: relative;
}

.buy-process-bar {
    margin: 0;
    padding: 0;
    width: auto;
    margin: 0 auto;
    min-height: 50px;
}

.buy-process-bar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.buy-process-bar ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 4px 4px 4px -4px;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar ul li a {
    padding: 14px 26px 14px 34px;
    color: #606060;
    background-color: #e3e9f2;
    border-color: #e3e9f2; //font-family: 'robotobold';
    font-size: 12px;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar .select a,
.buy-process-bar a:hover {
    background-color: #03a14c;
    border-color: #03a14c;
    color: #ffffff;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar li > * {
    background-color: #edeff0;
    border-color: #edeff0;
    color: #2c3f4c;
    padding: 1em 0.8em 1em 2.5em;
    position: relative;
}

.buy-process-bar li > *::after {
    z-index: 2;
    border-left-color: inherit;
}

.buy-process-bar li > *::after,
.buy-process-bar li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 21px solid transparent;
    border-right-width: 0;
    border-left-width: 23px;
}

.buy-process-bar li > *::after {
    z-index: 2;
    border-left-color: inherit;
}

.buy-process-bar li::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 22px solid transparent;
    border-right-width: 0;
    border-left-width: 25px;
}

.buy-process-bar li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    margin: 0;
}

.buy-process-bar ul li:first-child a {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.buy-process-bar ul li:last-child a {
    background-image: none;
    position: relative;
}

.buy-process-bar {
    margin: 0;
    padding: 0;
    width: auto;
    margin: 0 auto;
    min-height: 50px;
}

.buy-process-bar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.buy-process-bar ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 4px 4px 4px -4px;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar ul li a {
    padding: 14px 26px 14px 34px;
    color: #606060;
    background-color: #e3e9f2;
    border-color: #e3e9f2; //font-family: 'robotobold';
    font-size: 12px;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar .select a,
.buy-process-bar a:hover {
    background-color: #03a14c;
    border-color: #03a14c;
    color: #ffffff;
    transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -ms-transition: all 100ms ease 0s;
}

.buy-process-bar li > * {
    background-color: #edeff0;
    border-color: #edeff0;
    color: #2c3f4c;
    padding: 1em 0.8em 1em 2.5em;
    position: relative;
}

.buy-process-bar li > *::after {
    z-index: 2;
    border-left-color: inherit;
}

.buy-process-bar li > *::after,
.buy-process-bar li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 21px solid transparent;
    border-right-width: 0;
    border-left-width: 23px;
}

.buy-process-bar li > *::after {
    z-index: 2;
    border-left-color: inherit;
}

.buy-process-bar li::after {
    content: '';
    position: absolute;
    top: -12px;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    border: 22px solid transparent;
    border-right-width: 0;
    border-left-width: 25px;
}

.buy-process-bar li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    margin: 0;
}
//PROGRESS BAR ENDS
//BUY1 PAGE

.rad-borbt {
    border-bottom: 1px solid #cdcdcd;
}

.circ-img-holder {
    padding: 10px;
    margin: 20px;
    height: 100px;
    width: 100px;
    background: #d9d9d9;
    border: none;
    border-radius: 100%;
    cursor: pointer;

    &.active,
    &:hover {
        background: #25b1e6;
    }
}

.buy1-radio {
    // .rad1{
    //   // height: 20px;
    //   // width: 20px;
    //   // background: transparent;
    //   // border: 2px solid red;
    //
    //   $darkenColor: darken(#25b1e6, 20%);
    //   width: 28px;
    //   height: 28px;
    //   position: relative;
    //   //margin: 20px auto;
    //   background: #B3B3B3;
    //   background: linear-gradient(top, #B3B3B3 0%, #B3B3B3 40%, #B3B3B3 100%);
    //   border-radius: 50px;
    //   box-shadow: inset 0px 2px 2px white, 0px 2px 4px rgba(0,0,0,0.5);
    //   label {
    //     width: 20px;
    //     height: 20px;
    //     cursor: pointer;
    //     position: absolute;
    //     left: 4px;
    //     top: 4px;
    //     background: $white-color
    //     border-radius: 50px;
    //     box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    //     &:after {
    //       content: '';
    //       width: 16px;
    //       height: 16px;
    //       position: absolute;
    //       top: 2px;
    //       left: 2px;
    //       background: #25b1e6;
    //       background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
    //       opacity: 0;
    //       border-radius: 50px;
    //       box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    //     }
    //     &:hover::after {
    //       opacity: 0.3;
    //     }
    //   }
    //   input[type=checkbox] {
    //     visibility: hidden;
    //     &:checked + label:after {
    //       opacity: 1;
    //     }
    //   }
    // }
    .radio input[type="radio"] {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border: 3px solid #b3b3b3;
        border-radius: 100%;

        &:checked {
            background: -webkit-radial-gradient( #25b1e6 50%,$white-color 50%);
            padding: 5px;
        }
    }

    .radio-span {
        vertical-align: middle;
        font-size: 24px;
        color: #5c6b7e;
        text-align: center;
    }
}

.buy1-iam {
    input {
        border: 2px solid #d9d9d9;
        border-radius: 5px;
        margin: 38px 0 0;
        padding: 0 5px;
        width: 200px;
        height: 50px;
        outline: none;
        font-size: 14px;
        font-weight: 700;
    }
}

.buy1-cont {
    h3 {
        text-transform: capitalize;
        font-weight: 500;
        color: $font-color;
    }

    .badge {
        padding: 4px 7px;
        background-color: #F6C35F;
        border-radius: 100%;
    }
}

.buy1-sub {
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 700;

    i {
        padding: 5px;
    }
}
//buy1 family section start//
// .process-section-2 p {
// text-align: center;
// margin: 20px 0 25px;
// font-family: 'robotobold';
// }
// .process-section-2 p

.buy1-family {
    a:hover {
        color: #03a14c;
        background: url("../img/add-icon-h.png") no-repeat left center;
    }

    a {
        color: #8e8e8e;
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
        background: url("../img/add-icon.png") no-repeat left center;
        padding: 2px 0 0 29px;
        margin-right: 20px;
        transition: all 700ms ease 0s;
        -moz-transition: all 700ms ease 0s;
        -ms-transition: all 700ms ease 0s;
        -webkit-transition: all 700ms ease 0s;
    }

    .date-col {
        float: left;
        width: 210px;
        margin-left: 2px;
    }

    .checkbox {
        margin: 0;
    }

    .date-col input[type="date"] {
        border: 2px solid #25b1e6;
        color: #25b1e6;
        border-radius: 3px;
        line-height: 39px;
        width: 100%;
        background: url("../img/calendar-icon.png") no-repeat scroll 95% 50%;
        font-size: 18px;
        padding: 0 2%;
        margin: 10px 0;
    }

    .checkbox-col {
        float: left;
        width: 100%;
        border: 2px solid #d9d9d9;
        border-radius: 4px;
        margin: 10px 0;
    }

    .checkbox-col small {
        font-size: 16px;
        color: #000;
        vertical-align: top;
        line-height: 40px;
        padding-left: 22px;
        font-weight: 700;
    }

    .checkbox-col input[type=radio],
    input[type=checkbox] {
        display: none;
    }

    .checkbox-col .checkbox {
        text-align: left !important;
    }

    .checkbox-col label:before {
        border-radius: 0;
        margin-right: 0 !important;
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        left: 0;
        top: 0;
    }

    .checkbox-col label {
        color: #000;
        height: 40px;
        vertical-align: top;
        margin-bottom: 0;
    }

    .checkbox-col label:before {
        border-radius: 0;
        background: #d9d9d9 url("../img/process-checkbox.png") no-repeat center;
        height: 40px;
        width: 40px;
        padding: 4px 15px;
    }

    .checkbox-col [type=checkbox]:checked + label:before {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 26px;
        color: #f3f3f3;
        text-align: center;
        line-height: 36px;
        background: #25b1e6 url("../img/process-checkbox-selected.png") no-repeat center;
    }

    .checkbox-col .checkbox label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 0;
        margin-right: 0;
    }
}
// .buy1 {
//     .date-col {
//         float: left;
//         width: 210px;
//         margin-left: 2px;
//     }
//
//     .checkbox {
//         margin: 0;
//     }
//
//     .date-col input[type="date"] {
//         border: 2px solid #25b1e6;
//         color: #25b1e6;
//         border-radius: 3px;
//         line-height: 39px;
//         width: 100%;
//         background: url("../img/calendar-icon.png") no-repeat scroll 95% 50%;
//         font-size: 18px;
//         padding: 0 2%;
//         margin: 10px 0;
//     }
//
//     .checkbox-col {
//         float: left;
//         width: 100%;
//         border: 2px solid #d9d9d9;
//         border-radius: 4px;
//         margin: 10px 0;
//     }
//
//     .checkbox-col {
//         font-size: 16px;
//         color: #000;
//         vertical-align: top;
//         line-height: 40px;
//         padding-left: 22px;
//         font-weight: 700;
//     }
//
//     .checkbox-col input[type=radio],
//     input[type=checkbox] {
//         display: none;
//     }
//
//     .checkbox-col .checkbox {
//         text-align: left !important;
//     }
//
//     .checkbox-col label:before {
//         border-radius: 0;
//         margin-right: 0 !important;
//         content: "";
//         display: inline-block;
//         width: 24px;
//         height: 24px;
//         margin-right: 10px;
//         left: 0;
//         top: 0;
//     }
//
//     .checkbox-col label {
//         color: #000;
//         height: 40px;
//         vertical-align: top;
//         margin-bottom: 0;
//     }
//
//     .checkbox-col label:before {
//         border-radius: 0;
//         background: #d9d9d9 url("../img/process-checkbox.png") no-repeat center;
//         height: 40px;
//         width: 40px;
//         padding: 4px 15px;
//     }
//
//     .checkbox-col [type=checkbox]:checked + label:before {
//         text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
//         font-size: 26px;
//         color: #f3f3f3;
//         text-align: center;
//         line-height: 36px;
//         background: #25b1e6 url("../img/process-checkbox-selected.png") no-repeat center;
//     }
//
//     .checkbox-col .checkbox label {
//         display: inline-block;
//         cursor: pointer;
//         position: relative;
//         padding-left: 0;
//         margin-right: 0;
//     }
// }
//buy1 family section end//

.buy1-select {
    .form-group {
        margin: 10px 0;

        input {
            border: 2px solid #d9d9d9;
            border-radius: 3px;
            line-height: 45px;
            color: #000;
            width: 100%;
            font-size: 16px;
        }

        select {
            border-radius: 3px;
            border: 2px solid #d9d9d9;
            height: 48px;
            color: #000;
            width: 100%;
            font-size: 16px;
            -webkit-appearance: none;
        }

        label {
            font-weight: 500;
            padding-left: 5px;
            font-size: 16px;
        }

        button {
            font-size: 18px;
            font-weight: 700;
            line-height: 45px;
            width: 100%;
        }
    }

    .select-div {
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 5px 0 5px;
            border-color: #82888A transparent transparent transparent;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            bottom: 15px;
            right: 5px;
            position: absolute;
        }
    }
}
// checkbox for product detailS

.check-pos {
    top: 50%;
    left: 0;
}

.check-box {
    text-align: center;
}
//Buy2 sectioN

.buy2-boxbord {
    border: 1px solid #e0e0e0;
}

.buy2-rtbord {
    border-right: 1px solid #e0e0e0;
}

.buy2-btbord {
    border-bottom: 1px solid #e0e0e0;
}

.padd-1020 {
    padding: 10px 20px;
}

.buy2-mydet {
    padding: 30px;
    border-right: 1px solid #e0e0e0;
}

.fam-boxbg {
    background: #F2F5F9;
}

.box-shad {
    box-shadow: 5px 5px 0 rgb(226, 226, 226);
}
//Press Page

.our-value {
    img {
        margin: 0 auto;
    }
}

.active-orgtab {
    background: $brand-danger !important;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: $brand-danger transparent transparent transparent;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        bottom: -17px;
        left: 50%;
        // transform: translateX(-50%);
        @include transform(translateX(-50%));
        position: absolute;
    }
}

.press-head {
    h2 {
        margin-bottom: 30px;
    }

    ul {
        li {
            position: relative;

            a {
                color: $white-color;
                background: #C0C0C0;
                padding: 10px 20px;
                margin: 20px 10px;
                border-radius: 5px;
                font-size: 18px;
                // &.active {
                //     background: $brand-danger;
                //
                //     &:before {
                //         content: '';
                //         width: 0;
                //         height: 0;
                //         border-style: solid;
                //         border-width: 10px 5px 0 5px;
                //         border-color: $brand-danger transparent transparent transparent;
                //         display: inline-block;
                //         vertical-align: middle;
                //         margin-right: 5px;
                //         bottom: -17px;
                //         left: 50%;
                //         // transform: translateX(-50%);
                //         @include transform(translateX(-50%));
                //         position: absolute;
                //     }
                // }
            }
        }
    }
}

.value-commitment,
.value-main,
.value-passion,
.value-promise {
    p {
        margin: 20px 0;
    }
}

.press-title {
    h2 {
        text-transform: capitalize;
        color: #000;
        font-weight: 700;
    }

    span {
        color: $brand-danger;
        font-weight: 500;
    }
}

.press-header {
    border-bottom: 1px solid #C0C0C0;
    padding: 10px 0;
    margin: 30px 0;
}

.press-cloud {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background: #67C8ED;
    border-radius: 100%;
    padding: 30px 15px;
    position: relative;
    text-transform: capitalize;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent #67C8ED;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -20px;
        @include transform(translate(-50%,-50%));
    }

    p {
        color: $white-color;
        font-size: 18px;
        margin: 0;
    }
}

.press-stat {
    margin: 10px;
    border-bottom: 1px solid #C0C0C0;
    padding: 10px 0 20px;

    p {
        font-size: 18px;
        color: $black-color;
    }
}

.press-src {
    text-transform: capitalize;
}

.media-card {
    //  border: 1px solid red;
    color: $black-color;
    box-shadow: 2px 0 8px #cccccc;
    padding: 90px 40px;
    margin: 40px;

    p {
        color: $black-color;
        font-weight: 400;
        font-size: 21px;
        line-height: 1;
    }
}

.press-awards,
.press-coverage,
.press-release {
    select {
        border: 1px solid #d9e1ed;
        height: 48px;
        color: #000;
        width: 100%;
        font-size: 16px;
        -webkit-appearance: none;
    }
}

.press-awa {
    text-align: center;
    margin-bottom: 40px;

    h3 {
        font-weight: 700;
    }

    p {
        color: #6a6a6a;
    }
}

.award-holder {
    margin: 0 auto;
    border: 10px solid #f0f0f0;
    border-radius: 100%;
    height: 170px;
    width: 170px;
    padding: 18px;
}

.press-subs {
    text-align: center;
    padding: 50px;
}

.press-subs-frm {
    input {
        padding: 20px 10px;
        border-radius: 5px;
    }
}

.subs-btn {
    border-radius: 4px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
    color: $white-color;
    &:hover{
      color: white;
    }
}

.sub-btn{
  background: #b5b5b5;
  border-radius: 4px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 16px;
  color: $white-color;
  &:hover{
    color: white;
  }
}


.med-padd{
  padding: 10px 0;
}
//Proposer detailS
