@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #26B1E6 !default;
$brand-success: #03A14C !default;
$brand-warning: #F57E20 !default;
$brand-danger: #F57E20 !default;
$brand-info: #000072 !default;
$font-color:#767676 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    // padding-top: 70px;
}

.btn-success {
    background-color: $brand-success;
    border-color: $brand-success;
    &:hover {
        background-color: $brand-success;
        border-color: $brand-success;
    }
    &:focus {
        background-color: $brand-success;
        border-color: $brand-success;
    }
}

.btn-primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
    &:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;
    }
    &:focus {
        background-color: $brand-primary;
        border-color: $brand-primary;
    }
}

.btn-danger {
    background-color: $brand-danger;
    border-color: $brand-danger;
    &:hover {
        background-color: $brand-danger;
        border-color: $brand-danger;
    }
    &:focus {
        background-color: $brand-danger;
        border-color: $brand-danger;
    }
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    @include transition(all ease 300ms);
}

header {
    top: 0;
    .head-1 {
        background-color: #F2F5F9;
        font-weight: 600;
        .nav-1 {
            color: #767676;
            padding-top: 10px;
            padding-bottom: 8px;
            font-size: 12px;
            ul {
                list-style-type: none;
                display: inline-flex;
                margin-bottom: 0px;
                padding: 0;
            }
            li+li {
                margin-left: 15px;
            }
            i {
                font-size: xx-small;
            }
        }
        .claims {
            text-align: center;
            padding: 8px 0;
            font-size: 12px;
            .claim-no {
                font-size: 16px;
                display: inline-block;
            }
        }
        .login {
            span {
                color: #767676;
                margin-top: 8px;
            }
            .search-box {
                border: 1px solid $brand-success;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 10px;
                border-radius: 4px;
                width: 35%;
                input {
                    background-color: transparent;
                    height: 24px;
                    width: 80%;
                    display: inline-block;
                    border: none;
                    padding: 0 0 0 8px;
                    font-size: 12px;
                    font-weight: normal;
                }
                i {
                    font-size: 16px;
                    color: $brand-success;
                    cursor: pointer;
                }
            }
        }
    }
    .head-2 {
        img {
            margin-top: 15px;
        }
        .menu-box {
            margin: 20px 0;
            font-weight: 600;
            a {
                color: #000;
                text-decoration: none;
                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
            ul {
                list-style-type: none;
                margin-bottom: 0;
            }
            .btn {
                border-radius: 4px;
                padding: 10px 14px
            }
        }
    }
}

footer {
    font-size: 12px;
    background-color: #f2f5f9;
    padding: 10px 0;
    color: #6a6a6a !important;
    .foot-1 {
        .foot-links {
            display: flex;
            justify-content: space-around;
            padding-top: 30px;
            padding-bottom: 30px;
            a {
                color: #6a6a6a;
            }
            h5 {
                color: #f57e20;
            }
            ul {
                list-style-type: none;
            }
            ul:first-child {
                padding: 0;
            }
        }
        .foot-address {
            border-top: 1px solid #e0e0e0;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0 25px;
            p {
                display: inline-block;
            }
            .icons {
                float: right;
                display: inline-block;
            }
        }
    }
    .foot-2 {
        text-align: center;
        background-color: #fff;
        padding: 20px 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

//SWIPER CSS
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url(../img/prev.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/next.png);
}


/* Start writing sass here */

.content {
    min-height: 450px;
}

.full-img {
    width: 100%;
    display: block;
}

a {
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $font-color;
        text-decoration: none;
    }
}

@import "fancybox-override";
@import "sagar";
@import "mobile";