<section class="ask-expert">
    <div class="expert-cover">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-offset-4 col-md-8">
                        <h4>Ask anything on Health Insurance, Get free answers from Trusted Experts</h4>
                        <div class="expert-form">
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6 f-name">
                                        <input type="text" class="form-control ask-instyle" placeholder="First Name" id="Full_Name" required>
                                    </div>
                                    <div class="col-md-6 l-name">
                                        <input type="text" class="form-control ask-instyle" placeholder="Last Name" id="Full_Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="email">
                                <input type="text" class="form-control ask-instyle" placeholder="E-mail ID" id="Email_Address" required>
                            </div>
                            <div class="question">
                                <textarea class="form-control ask-instyle" placeholder="Type your Question here" rows="5" id="qtn" required></textarea>
                            </div>
                            <div class="expert-button">
                                <button type="button" class="btn btn-success">EMAIL ME ANSWER</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-two">
        <div class="container">
            <h1>What you get?</h1>
            <p>With the ever increasing price-rise and health problems, a health insurance policy is the need of the hour.</p>
            <div class="cards">
                <div class="row">

                    <div class="col-md-offset-1 col-md-10 ">
                        <div class="col-md-4">
                            <div class="time-card">
                                <img src="img/time-icon.png" alt="" class="img-responsive imgc-marg">
                                <h3>SAVE TIME</h3>
                                <p>We’re fast. Get a quote in under 60 seconds!</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="money-card">
                                <img src="img/mony-icon.png" alt="" class="img-responsive imgc-marg">
                                <h3>SAVE MONEY</h3>
                                <p>No Sub-limits on diseases, room, hospital charges and doctor fees</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="support-card">
                                <img src="img/support-icon.png" alt="" class="img-responsive imgc-marg">
                                <h3>FREE SUPPORT</h3>
                                <p>Support by email, phone or on Twitter as well as extensive online help articles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request">
                <button type="button" class="btn btn-success">REQUEST A QUOTE</button>
            </div>
        </div>
    </div>
    <div class="div-3">
        <div class="container">
            <h1>Buy With Confidence</h1>
            <div class="orange-cards">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/simplify.png" alt="" class="img-responsive imgc-marg">
                            </div>
                            <h4>We simplify</h4>
                            <p>Understanding your health plan should be as easy as reading this</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/fact-icon.png" alt="" class="img-responsive imgc-marg">
                            </div>
                            <h4>We are fact-based</h4>
                            <p>Our unbiased sales experts help you compare the benefits/prices and confidently choose the product suiting your need, budget and lifestyle</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/easy-claims.png" alt="" class="img-responsive">
                            </div>
                            <h4>We love easy claims</h4>
                            <p>Your claim is our claim Headache free claim support to help you when you need it most</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/support-icon-white.png" alt="" class="img-responsive imgc-marg">
                            </div>
                            <h4>We Support</h4>
                            <p>With you from purchase to renewal and whenever you need us</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request">
                <button type="button" class="btn btn-success">REQUEST A QUOTE</button>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="why-us">
                        <flex-slider flex-slide="slide in mySlides track by $index">
                            <li>
                                <div class="slider-holder">
                                    <h3 class="heading">{{slide.heading}}</h3>
                                    <p class="fixed-content">{{slide.fixedContent}}</p>
                                    <p class="heading-content">{{slide.content}}</p>
                                    <div class="slider-imgholder">
                                        <img ng-src="{{slide.img}}" alt="" class="img-responsive imgc-marg customer-image">
                                    </div>
                                    <p class="cust-name">{{slide.custName}}</p>
                                    <button type="button" class="btn btn-success">HAPPY TO HELP</button>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="expert-req">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form>
                        <div class="small-form padding40 req-quo-frm">
                            <h4><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Contact no" id="Contact No." required>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
