<div class="buy2">
    <div class="head-ar padding40">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="buy-process-bar font-wt700 posi-rel">
                                <ul>
                                    <li class="select"><a href="#">Enter Your Details</a></li>
                                    <li class="select"><a href="#">Choose Your Best Policy</a></li>
                                    <li><a href="#">Make Payment & Get Insured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buy2-cont">
        <div class="container">
            <div class="buy2-head disp-blk">
                <div class="buy2-mydet text-center disp-inblk">
                    <p>my details</p>
                    <button type="button" class="btn btn-success buy2-moddets"> modify details </button>
                </div>
                <div class="buy2-det disp-inblk">
                    <div class="buy2-per disp-blk">
                        <div class="disp-inblk">
                            <img src="img/family-icon.png" alt=""> policy type: family
                        </div>
                        <div class="disp-inblk">
                            <img src="img/gender-icon.png" alt=""> Gender: Male
                        </div>
                        <div class="disp-inblk">
                            <img src="img/email-icon2.png" alt=""> Pincode: 201102
                        </div>
                        <div class="disp-inblk">
                            <img src="img/birth-icon.png" alt=""> Date of Birth: 09/04/1986
                        </div>
                    </div>
                    <div class="buy2-fam disp-blk">
                        <div class="disp-inblk">
                            <img src="img/wife-icon.png" alt=""> Wife - Date of Birth: 09/04/1986
                        </div>
                        <div class="disp-inblk">
                            <img src="img/kid-icon.png" alt=""> Kid 1 - Date of Birth: 09/04/1986
                        </div>
                    </div>
                </div>
            </div>
            <div class="buy2-range">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group select-div">
                                        <label for="">cover amount</label>
                                        <select class="form-control" id="cov-amt">
                                        <option>20000</option>
                                        <option>15000</option>
                                        <option>10000</option>
                                        <option>5000</option>
                                   </select>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group select-div">
                                        <label for="">premium sort by</label>
                                        <select class="form-control" id="prem-sort">
                                    <option value="">Low to high</option>
                                      <option>20000</option>
                                      <option>15000</option>
                                      <option>10000</option>
                                      <option>5000</option>
                                 </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <label for="">premium range</label>
                                <div>
                                    <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <form>
                                    <div class="form-group select-div">
                                        <label for="">tenure</label>
                                        <select class="form-control" id="prem-sort">
                                            <option value="">5 years</option>
                                            <option>4 years</option>
                                            <option>3 years</option>
                                            <option>2 years</option>
                                            <option>1 years</option>
                                         </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy2-policy">
            <div class="container">
                <table class="table table-bordered text-center">
                    <tr>
                        <td>
                            <img src="img/policies-icon.png" alt="" title="">
                            <p>policies</p>
                        </td>
                        <td>
                            <img src="img/premium-icon.png" alt="" title="">
                            <p>Premium</p>
                        </td>
                        <td>
                            <img src="img/unique-icon.png" alt="" title="">
                            <p>Unique Features</p>
                        </td>
                        <td>
                            <img src="img/room-rent-icon.png" alt="" title="">
                            <p>Room rent</p>
                        </td>
                        <td>
                            <img src="img/copay-icon.png" alt="" title="">
                            <p>Co-pay</p>
                        </td>
                        <td>
                            <img src="img/check-icon.png" alt="" title="">
                            <p>Health check up</p>
                        </td>
                        <td>
                            <img src="img/buy-icon.png" alt="" title="">
                            <p class="">Buy</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buy2-pdets disp-blk">
                <div class="disp-inblk posi-rel">
                  <div class="check_box posi-abs">
                      <input type="checkbox" name="checkbox1" id="compare">
                      <label for="compare">Compare</label>
                  </div>
                </div>
                <div class="disp-inblk">
                  <div class="container">
                      <table class="table table-bordered text-center">
                          <tr>
                              <td>
                                  <!-- <img src="" alt=""> -->
                                  <p></p>
                                  <span></span>
                                  <button type="button" name="button"></button>
                              </td>
                              <td>6240</td>
                              <td>No medical tests required upto 60 years</td>
                              <td>1% of Sum Insured, per day</td>
                              <td>10 % of admissible claim amount</td>
                              <td>Not covered</td>
                              <td>
                                  <a href=""><img src="img/buy-icon.png" alt="" title="">
                                      <p class="">Buy</p>
                                  </a>
                              </td>
                          </tr>
                      </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
