<div class="buy2">
    <div class="head-ar padding40">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="buy-process-bar font-wt700 posi-rel">
                                <ul>
                                    <li class="select"><a href="#">Enter Your Details</a></li>
                                    <li class="select"><a href="#">Choose Your Best Policy</a></li>
                                    <li><a href="#">Make Payment & Get Insured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="det-box">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="box no-bord">
                        <p class="font-wt700">My Details</p>
                        <button class="btn btn-default det-btn" type="submit">modify details</button>
                    </div>
                </div>

                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/family-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk">
                                    <span class="col-6c6c6c">Policy type: </span><span class="font-wt700"> family</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/gender-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Gender: </span><span class="font-wt700"> male</span></p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/email-icon2.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Pincode: </span><span class="font-wt700">201102</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/birth-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Date of Birth: </span> <span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/wife-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Wife - Date of Birth: </span> <span class="font-wt700">09/04/1986</span></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/kid-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">kid1 - Date of Birth: </span><span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="range-box">
            <div class="row">
                <div class="col-md-2">
                    <div class="cvr-amt select-div">
                        <label>cover amount</label>
                        <select class="form-control">
                                  <option selected>20000</option>
                                  <option>15000</option>
                                  <option>10000</option>
                                  <option>5000</option>
                              </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="prm-srt select-div">
                        <label>Premium Sort By</label>
                        <select class="form-control">
                                  <option selected>Low to High</option>
                                  <option>20000</option>
                                  <option>15000</option>
                                  <option>10000</option>
                                  <option>5000</option>
                              </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="prm-rng">
                        <label>Premium Range</label>
                        <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options">
                        </rzslider>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="rng-tnr select-div">
                        <label>Tenure</label>
                        <select class="form-control">
                                  <option selected>5 Years</option>
                                  <option>4 Years</option>
                                  <option>3 Years</option>
                                  <option>2 Years</option>
                                  <option>1 Years</option>
                              </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="compa-box">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                          <div class="comp-card posi-rel">
                            <div class="comp-img">
                              <img src="img/apollo-logo.png" class="posi-abs">
                            </div>
                            <p class="comp-name comp-name2  posi-abs name-posi">Easy Health - Premium (1) - Floatery</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="comp-card posi-rel">
                            <div class="comp-img">
                              <img src="img/maxbupa-logo.jpg" class="posi-abs">
                            </div>
                            <p class="comp-name comp-name2 posi-abs name-posi">Heartbeat Gold - Floater</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="comp-card posi-rel">
                              <p class="comp-name posi-abs name-posi">add another policy</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="cmp-btn">
                        <button class="btn btn-success compa-btn" type="submit">COMPARE PLANS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
