<div class="buy2">
    <div class="head-ar padding40">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="buy-process-bar font-wt700 posi-rel">
                                <ul>
                                    <li class="select"><a ui-sref="buying-process-step1">Enter Your Details</a></li>
                                    <li class="select"><a href="#">Choose Your Best Policy</a></li>
                                    <li><a href="#">Make Payment & Get Insured</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="det-box">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="mydet-box">
                        <p class="font-wt700">My Details</p>
                        <button class="btn btn-default det-btn" type="submit">modify details</button>
                    </div>
                </div>

                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/family-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk">
                                    <span class="col-6c6c6c">Policy type: </span><span class="font-wt700"> family</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/gender-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Gender: </span><span class="font-wt700"> male</span></p>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/email-icon2.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Pincode: </span><span class="font-wt700">201102</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/birth-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Date of Birth: </span> <span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/wife-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Wife - Date of Birth: </span> <span class="font-wt700">09/04/1986</span></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/kid-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">kid1 - Date of Birth: </span><span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="range-box">
            <div class="row">
                <div class="col-md-2">
                    <div class="cvr-amt select-div">
                        <label>cover amount</label>
                        <select class="form-control">
                                  <option selected>20000</option>
                                  <option>15000</option>
                                  <option>10000</option>
                                  <option>5000</option>
                              </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="prm-srt select-div">
                        <label>Premium Sort By</label>
                        <select class="form-control">
                                  <option selected>Low to High</option>
                                  <option>20000</option>
                                  <option>15000</option>
                                  <option>10000</option>
                                  <option>5000</option>
                              </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="prm-rng">
                        <label>Premium Range</label>
                        <rzslider rz-slider-model="slider.minValue" rz-slider-high="slider.maxValue" rz-slider-options="slider.options">
                        </rzslider>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="rng-tnr select-div">
                        <label>Tenure</label>
                        <select class="form-control">
                                  <option selected>5 Years</option>
                                  <option>4 Years</option>
                                  <option>3 Years</option>
                                  <option>2 Years</option>
                                  <option>1 Years</option>
                              </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="compare-scroll" id="style-3">
          <div class="compa-box posi-rel">
              <img src="img/close-btn-big-red.png" alt="" class="posi-abs big-close">
              <div class="row">
                  <div class="col-md-10">
                      <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class=" compa-card posi-rel wid100">
                                  <div class="posi-abs card-posi  z-in1 wid100">
                                      <div class="posi-rel bg-white">
                                          <p class="comp-name posi-abs name-posi2">add another policy</p>
                                      </div>
                                  </div>
                                  <div class="posi-abs card-posi hide bg-white z-in2  wid100">
                                      <div class="posi-rel bg-white">
                                          <img src="img/close-btn-red.png" alt="" class="posi-abs red-close">
                                          <div class=" compa-img">
                                              <img src="img/apollo-logo.png" class="posi-abs img-reponsive">
                                          </div>
                                          <p class="comp-name comp-name2 posi-abs name-posi">Easy Health - Premium (1) - Floatery</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class=" compa-card posi-rel">
                                  <div class="posi-abs card-posi z-in1 wid100">
                                      <div class="posi-rel bg-white">
                                          <p class="comp-name posi-abs name-posi2">add another policy</p>
                                      </div>
                                  </div>
                                  <div class="posi-abs card-posi bg-white z-in2 wid100">
                                      <div class="posi-rel bg-white">
                                          <img src="img/close-btn-red.png" alt="" class="posi-abs red-close">
                                          <div class=" compa-img">
                                              <img src="img/maxbupa-logo.jpg" class="posi-abs img-responsive">
                                          </div>
                                          <p class="comp-name comp-name2 posi-abs name-posi">Heartbeat Gold - Floater</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="compa-card posi-rel">
                                  <div class="posi-abs card-posi z-in1 wid100">
                                      <div class="posi-rel bg-white">
                                          <p class="comp-name posi-abs name-posi2">add another policy</p>
                                      </div>
                                  </div>
                                  <div class="posi-abs card-posi bg-white z-in2 wid100">
                                      <div class="posi-rel bg-white">
                                          <img src="img/close-btn-red.png" alt="" class="posi-abs red-close">
                                          <div class=" compa-img">
                                              <img src="img/apollo-logo.png" class="posi-abs img-responsive">
                                          </div>
                                          <p class="comp-name comp-name2 posi-abs name-posi">Easy Health - Premium (1) - Floatery</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="compare-btn">
                          <button class="btn btn-success compa-btn" type="submit" ng-click="compare();">COMPARE PLANS</button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="policy-title">
              <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box img-ht">
                          <img src="img/policies-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">policies</p>
                      </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 bord-lf">
                      <div class="poli-box img-ht">
                          <img src="img/premium-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Premium</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 bord-lf">
                      <div class="poli-box img-ht">
                          <img src="img/unique-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Unique Features</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 bord-lf">
                      <div class="poli-box img-ht">
                          <img src="img/room-rent-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Room rent</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 bord-lf">
                      <div class="poli-box img-ht">
                          <img src="img/copay-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Co-pay</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 bord-lf" class="img-responsive imgc-marg">
                      <div class="poli-box img-ht">
                          <img src="img/check-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Health check up</p>
                      </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 bord-lf">
                      <div class="poli-box img-ht">
                          <img src="img/buy-icon.png" class="img-responsive imgc-marg">
                          <p class="font-wt700">Buy</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="policy-title posi-rel poli-hov">
              <div class="checkbox posi-abs chk-pos">
                  <label>
                      <input type="checkbox">
                  </label>
                  <span class="disp-blk">Compare</span>
              </div>
              <div class="row">
                  <div class="col-md-2  col-sm-2 col-xs-2">
                      <div class="poli-box box-ht">
                          <img src="img/company-logo-1.jpg" class="img-responsive imgc-marg">
                          <p class="font-wt700 text-capitalize">Happy Family Floater <br>(Silver)</p>
                          <img src="img/rating-star.png" height="10px" class="img-responsive imgc-marg">
                          <span class="text-uppercase col-696969 font-wt700">medimanage rating</span>
                          <button ng-click="toggleDet()" class="btn det-btn marg-t10" type="submit">{{(polDet)&& "hide details"|| "view details"}}</button>
                      </div>
                  </div>
                  <div class="col-md-1  col-sm-1 col-xs-1">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class=""><i class="fa fa-inr" aria-hidden="true"></i> 6,240</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box blue-hover box-ht bord-lf">
                          <p class="">No medical tests required upto 60 years</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">1% of Sum Insured, per day</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">10 % of admissible claim amount</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2" class="img-responsive imgc-marg">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">Not covered</p>
                      </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                      <div class="poli-box bord-lf box-ht buy-box">
                          <img src="img/buy-icon2.png" class="img-responsive imgc-marg ht-auto">
                          <p class="">Buy</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="policy-det" ng-show="polDet">
              <div class="det-tabs">
                  <uib-tabset active="activeJustified">
                      <uib-tab index="0" heading="PRODUCT">
                          <div class="product-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Sum Insured options</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>

                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Annual Health check up</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Day care Treatments</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Organ Donor expenses</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Restore Sum Insured</h4>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Alternative Treatment</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Pre- hospitalization Expenses</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Maternity</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Post-Hospitalization Expenses</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Dental Treatments</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </uib-tab>
                      <uib-tab index="1" heading="WAITING PERIODS">
                          <div class="waiting-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Accident cover</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Loading on Claims</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Pre-existing Diseases</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Renewable till</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Specific Illness</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Exclusions</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="prodt-list">
                                          <img src="img/right-icon.png" alt="" class="posi-abs rgt-posi">
                                          <h4 class="font-wt700">Sub-limits</h4>
                                          <p class="disp-inblk">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                              <div class="ball" uib-popover="Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.!" popover-trigger="'mouseenter'">?</div>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-6"></div>
                              </div>
                          </div>
                      </uib-tab>
                      <uib-tab index="2" heading="DOWNLOAD">
                          <div class="download-tab">
                              <div class="row">
                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                      <div class="text-center">
                                          <img src="img/conditions-icon.png" alt="" class="img-responsive imgc-marg">
                                          <h4 class="font-wt700">Terms & conditions</h4>
                                          <button class="btn btn-default dwn-btn" type="submit">download</button>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                      <div class="text-center">
                                          <img src="img/brochure-icon.png" alt="" class="img-responsive imgc-marg">
                                          <h4 class="font-wt700">Brochure</h4>
                                          <button class="btn btn-default dwn-btn" type="submit">download</button>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                      <div class="text-center">
                                          <img src="img/review-icon.png" alt="" class="img-responsive imgc-marg">
                                          <h4 class="font-wt700">Product Review</h4>
                                          <button class="btn btn-default dwn-btn" type="submit">download</button>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                      <div class="text-center">
                                          <img src="img/articles-icon.png" alt="" class="img-responsive imgc-marg">
                                          <h4 class="font-wt700">Articles</h4>
                                          <button class="btn btn-default dwn-btn" type="submit">download</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </uib-tab>
                      <uib-tab index="3" heading="ABOUT COMPANY">
                          <div class="abt-tab"></div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="text-justify">
                                      <h4 class="font-wt700">About Company</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius blandit ultricies. Nulla facilisi. Morbi commodo, est ac dignissim feugiat, augue tortor pharetra justo, non volutpat nisl metus eu risus.</p>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="text-justify">
                                      <h4 class="font-wt700">Our View</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius blandit ultricies. Nulla facilisi. Morbi commodo, est ac dignissim feugiat, augue tortor pharetra justo, non volutpat nisl metus eu risus.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="text-justify">
                                      <h4 class="font-wt700">Cashless Claim</h4>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="text-justify">
                                      <h4 class="font-wt700">Reimbursement Claim</h4>
                                  </div>
                              </div>
                          </div>
                      </uib-tab>
                  </uib-tabset>
              </div>
          </div>

          <div class="policy-title posi-rel poli-hov">
              <div class="checkbox posi-abs chk-pos">
                  <label>
                      <input type="checkbox">
                  </label>
                  <span class="disp-blk">Compare</span>
              </div>

              <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box box-ht">
                          <img src="img/company-logo-1.jpg" class="img-responsive imgc-marg">
                          <p class="font-wt700 text-capitalize">Happy Family Floater <br>(Silver)</p>
                          <img src="img/rating-star.png" height="10px" class="img-responsive imgc-marg">
                          <span class="text-uppercase col-696969 font-wt700">medimanage rating</span>
                          <button ng-click="showDetP(1)" class="btn det-btn marg-t10" type="submit">view details</button>
                      </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class=""><i class="fa fa-inr" aria-hidden="true"></i> 6,240</p>
                      </div>
                  </div>
                  <div class="col-md-2  col-sm-2 col-xs-2">
                      <div class="poli-box blue-hover box-ht bord-lf">
                          <p class="">No medical tests required upto 60 years</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">1% of Sum Insured, per day</p>
                      </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">10 % of admissible claim amount</p>
                      </div>
                  </div>
                  <div class="col-md-2  col-sm-2 col-xs-2" class="img-responsive imgc-marg">
                      <div class="poli-box bord-lf box-ht blue-hover">
                          <p class="">Not covered</p>
                      </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                      <div class="poli-box bord-lf box-ht buy-box">
                          <img src="img/buy-icon2.png" class="img-responsive imgc-marg ht-auto">
                          <p class="">Buy</p>
                      </div>
                  </div>
              </div>
          </div>
          <!--SCroll div end  -->
          </div>
        <!-- container & sec div -->
    </div>
</div>
