<section class="custom">
    <div class="expert-call">

        <h2><span>Uh ho</span>, that page is sick & couldn’t be found</h2>
        <span class="head-content">But you’re looking for a secure future in all right places..! Talk to an Expert & get a Best Health Insurance policy.</span>


        <div class="input-group input-group-lg mobile-no hidden-sm hidden-xs">
            <span class="input-group-addon" id="sizing-addon1">+91</span>
            <input type="text" class="form-control" placeholder="Mobile Number" aria-describedby="sizing-addon1">
            <span class="input-group-btn">
              <button type="button" class="btn btn-success">GET AN EXPERT TO CALL ME NOW</button>
             </span>
        </div>

        <div class=" hidden-lg hidden-md">
          <div class="input-group input-group-lg mobile-no">
            <span class="input-group-addon" id="sizing-addon1">+91</span>
            <input type="text" class="form-control" placeholder="Mobile Number" aria-describedby="sizing-addon1">
        </div>
        <button type="button" class="btn btn-success marg-tp10">GET AN EXPERT TO CALL ME NOW</button>
      </div>



    </div>
    <div class="show-error">
        <img src="img/404-imag.png" alt="" class="img-responsive text-center imgc-marg">
        <div class="back-home-btns">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default back-btn">BACK</button>
                <button type="button" class="btn btn-default home-btn" ui-sref="home">HOME</button>
            </div>
        </div>

</section>
