<section class="dashboard-quotes">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="quote-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Insurance <br> Company
                                </th>
                                <th>Proposer</th>
                                <th>Relationship</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Sum Insured</th>
                                <th>Premium
                                    <p class="yearly">(yearly)</p>
                                </th>
                                <th>Quote Expiry Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="img/company-logo-1.jpg" alt=""></td>
                                <td>Puneet Manocha</td>
                                <td>Self</td>
                                <td>Male</td>
                                <td>35</td>
                                <td>₹ 2,00,000</td>
                                <td>₹ 5,300
                                    <a href="">
                                        <p class="premium">Refresh Premium</p>
                                    </a>
                                </td>
                                <td>₹ 5,300</td>
                                <td>
                                    <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                    <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                </td>
                            </tr>
                            <tr>
                                <td><img src="img/company-logo-2.jpg" alt=""></td>
                                <td>Puneet Manocha</td>
                                <td>Self</td>
                                <td>Male</td>
                                <td>35</td>
                                <td>₹ 2,00,000</td>
                                <td>₹ 5,300
                                    <a href="">
                                        <p class="premium">Refresh Premium</p>
                                    </a>
                                </td>
                                <td>₹ 5,300</td>
                                <td>
                                    <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                    <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                </td>
                            </tr>
                            <tr>
                                <td><img src="img/company-logo-3.jpg" alt=""></td>
                                <td>Puneet Manocha</td>
                                <td>Self</td>
                                <td>Male</td>
                                <td>35</td>
                                <td>₹ 2,00,000</td>
                                <td>₹ 5,300
                                    <a href="">
                                        <p class="premium">Refresh Premium</p>
                                    </a>
                                </td>
                                <td>₹ 5,300</td>
                                <td>
                                    <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                    <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>