<section class="dashboard-mycommunication">
    <div class="container">
        <div class="communication-table">
            <table class="table">
                <thead class="main-head">
                    <tr>
                        <th>Ticket Number</th>
                        <th>Subject</th>
                        <th>Relationship</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#162079</td>
                        <td>Premium Calculation</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit diam, accumsan nec volutpat aliquam, tincidunt sit amet velit...</td>
                        <td><button type="button" class="btn btn-success" ng-click="showNextRow()">VIEW DETAILS</button></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table" ng-show="view">
                                <thead>
                                    <tr class="cust-line-1">
                                        <th>#162079</th>
                                        <th>Premium Calculation</th>
                                        <th>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit diam, accumsan nec volutpat aliquam, tincidunt sit amet velit...</th>
                                        <th><img src="img/close-btn.png" class="cancel-btn" alt="" ng-click="hideNextRow()"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cust-line-2">
                                        <td colspan="4">
                                            <div class="logo-holder"><img src="img/logo-img.png" alt=""></div>
                                            <span class="com-date">24/10/2015 5.43 PM</span>
                                            <p class="com-message">Dear Member, you will receive the updated claim status in 2 days.</p>
                                        </td>
                                    </tr>
                                    <tr class="cust-line-3">
                                        <td colspan="4">
                                            <div class="cust-logo"><img src="img/user-icon.png" alt=""></div>
                                            <p class="cust-name">Puneet Manocha </p>
                                            <span class="com-date">24/10/2015 5.43 PM</span>
                                            <p class="com-message">Hi, I have submitted the query documents, please update the status.</p>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>#162079</td>
                        <td>Premium Calculation</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec velit diam, accumsan nec volutpat aliquam, tincidunt sit amet velit...</td>
                        <td><button type="button" class="btn btn-success">VIEW DETAILS</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="query-form">
            <h4 class="font-wt700">SUBMIT YOUR QUERY:</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="detail query">
                        <div class="input-group group-1">
                            <span class="input-group-addon subject" id="basic-addon1">Subject:</span>
                            <input class="form-control" type="text" value="" name="subject" placeholder="">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon message" id="basic-addon1">Message:</span>
                            <textarea class="form-control" rows="8" column="8" id="comment"></textarea>
                        </div>
                        <button type="button" class="btn btn-success btn-qsubmit">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
