<section class="dashboard-myprofile">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="profile-tabs margin40">
                    <uib-tabset active="activeJustified">

                        <uib-tab index="0" heading="MY DETAILS">
                            <div class="profile-details">
                              <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">First Name:</span>
                                            <input class="form-control" type="text" value="" name="name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">Last Name:</span>
                                            <input class="form-control" type="text" value="" name="name" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">Gender:</span>
                                            <input class="form-control" type="text" value="" name="gender" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">DOB:</span>
                                            <input class="form-control" type="date" value="" name="dob" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">Age:</span>
                                            <input class="form-control" type="text" value="" name="age" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group group-1">
                                            <span class="input-group-addon subject">Mobile:</span>
                                            <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group group-1">
                                    <span class="input-group-addon subject wid33">Contact (Alternate):</span>
                                    <input class="form-control" type="text" value="" name="contact" placeholder="">
                                </div>
                                <div class="input-group group-1">
                                    <span class="input-group-addon subject wid33">Registered Email:</span>
                                    <input class="form-control" type="email" value="" name="email" placeholder="">
                                </div>
                                <div class="input-group group-1">
                                    <span class="input-group-addon subject wid33">Registered Email:</span>
                                    <input class="form-control" type="email" value="" name="email" placeholder="">
                                </div>
                                <div class="row">
                                    <button type="button" class="btn btn-success btn-edit">edit details</button>
                                </div>
                              </form>
                            </div>
                        </uib-tab>


                        <uib-tab index="1" heading="MY FAMILY DETAILS">

                            <uib-accordion close-others="oneAtATime">
                              <div uib-accordion-group class="panel-default" is-open="status.open1">
                                  <uib-accordion-heading>
                                    Family Member
                                  </uib-accordion-heading>
                                  <div class="my-dets-tab">
                                    <form>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">First Name:</span>
                                                  <input class="form-control" type="text" value="name" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Last Name:</span>
                                                  <input class="form-control" type="text" value="" name="name" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Gender:</span>
                                                  <input class="form-control" type="text" value="" name="gender" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">DOB:</span>
                                                  <input class="form-control" type="date" value="" name="dob" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Age:</span>
                                                  <input class="form-control" type="text" value="" name="age" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Mobile:</span>
                                                  <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Contact (Alternate):</span>
                                          <input class="form-control" type="text" value="" name="contact" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="row">
                                          <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                      </div>
                                    </form>
                                  </div>
                              </div>

                              <div uib-accordion-group class="panel-default" is-open="status.open2">
                                  <uib-accordion-heading>
                                    Family Member2
                                  </uib-accordion-heading>
                                  <div class="my-dets-tab">
                                    <form>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">First Name:</span>
                                                  <input class="form-control" type="text" value="name" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Last Name:</span>
                                                  <input class="form-control" type="text" value="" name="name" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Gender:</span>
                                                  <input class="form-control" type="text" value="" name="gender" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">DOB:</span>
                                                  <input class="form-control" type="date" value="" name="dob" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Age:</span>
                                                  <input class="form-control" type="text" value="" name="age" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Mobile:</span>
                                                  <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Contact (Alternate):</span>
                                          <input class="form-control" type="text" value="" name="contact" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="row">
                                          <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                      </div>
                                    </form>
                                  </div>
                              </div>

                              <div uib-accordion-group class="panel-default" is-open="status.open3">
                                  <uib-accordion-heading>
                                    Family Member3
                                  </uib-accordion-heading>
                                  <div class="my-dets-tab">
                                    <form>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">First Name:</span>
                                                  <input class="form-control" type="text" value="name" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Last Name:</span>
                                                  <input class="form-control" type="text" value="" name="name" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Gender:</span>
                                                  <input class="form-control" type="text" value="" name="gender" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">DOB:</span>
                                                  <input class="form-control" type="date" value="" name="dob" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Age:</span>
                                                  <input class="form-control" type="text" value="" name="age" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-6 col-xs-12">
                                              <div class="input-group group-1">
                                                  <span class="input-group-addon subject">Mobile:</span>
                                                  <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Contact (Alternate):</span>
                                          <input class="form-control" type="text" value="" name="contact" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="input-group group-1">
                                          <span class="input-group-addon subject">Registered Email:</span>
                                          <input class="form-control" type="email" value="" name="email" placeholder="">
                                      </div>
                                      <div class="row">
                                          <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                      </div>
                                    </form>
                                  </div>
                              </div>

                            </uib-accordion>

                        </uib-tab>

                        <uib-tab index="2" heading="START BUYING" id="tab3">
                          <div class="quotes">
                     <table cellpadding="0" cellspacing="0" border="0">
                         <thead>
                             <tr>
                                 <td class="insurance-company">Insurance<br> Company</td>
                                 <td class="proposer">Proposer</td>
                                 <td class="relationship">Relationship</td>
                                 <td class="gender">Gender</td>
                                 <td class="age">Age</td>
                                 <td class="insure">Sum Insured</td>
                                 <td class="premium">Premium<br> <small>(yearly)</small></td>
                                 <td class="expiry">Quote Expiry Date</td>
                                 <td class="action">Action</td>

                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td data-title="Insurance Company"  class="insurance-company">
                                     <div class="pic"><img src="img/company-logo-1.jpg" class="img-responsive" alt="" title=""></div>
                                 </td>
                                 <td data-title="Proposer" class="proposer">Puneet Manocha</td>
                                 <td data-title="Relationship" class="relationship">Self</td>
                                 <td data-title="Gender" class="gender">Male</td>
                                 <td data-title="Age" class="age">35</td>
                                 <td data-title="Sum Insured" class="insure"><small>&#8377;</small> 2,00,000</td>
                                 <td data-title="Premium (yearly)" class="premium"><small>&#8377;</small> 5,300 <a href="#">Refresh Premium</a></td>
                                 <td data-title="Quote Expiry Date" class="expiry">22/02/2016</td>
                                 <td data-title="Action" class="active"><a href="#">continue to buy</a></td>
                              </tr>
                              <tr>
                                 <td data-title="Insurance Company">
                                     <div class="pic"><img src="img/company-logo-2.jpg" class="img-responsive" alt="" title=""></div>
                                 </td>
                                 <td data-title="Proposer" class="proposer">Puneet Manocha</td>
                                 <td data-title="Relationship">Self</td>
                                 <td data-title="Gender">Male</td>
                                 <td data-title="Age">35</td>
                                 <td data-title="Sum Insured"><small>&#8377;</small> 2,00,000</td>
                                 <td data-title="Premium (yearly)" class="premium"><small>&#8377;</small> 5,300 <a href="#">Refresh Premium</a></td>
                                 <td data-title="Quote Expiry Date" class="expiry-date">22/02/2016 <small>Expired</small></td>
                                 <td data-title="Action" class="active"><a class="requote" href="#">requote</a></td>
                              </tr>
                              <tr>
                                 <td data-title="Insurance Company"  class="insurance-company">
                                     <div class="pic"><img src="img/company-logo-3.jpg" class="img-responsive" alt="" title=""></div>
                                 </td>
                                 <td data-title="Proposer" class="proposer">Puneet Manocha</td>
                                 <td data-title="Relationship" class="relationship">Self</td>
                                 <td data-title="Gender" class="gender">Male</td>
                                 <td data-title="Age" class="age">35</td>
                                 <td data-title="Sum Insured" class="insure"><small>&#8377;</small> 2,00,000</td>
                                 <td data-title="Premium (yearly)" class="premium"><small>&#8377;</small> 5,300 <a href="#">Refresh Premium</a></td>
                                 <td data-title="Quote Expiry Date" class="expiry">22/02/2016</td>
                                 <td data-title="Action" class="active"><a href="#">continue to buy</a></td>
                              </tr>
                              <tr>
                                 <td data-title="Insurance Company"  class="insurance-company">
                                     <div class="pic"><img src="img/company-logo-4.jpg" alt="" title="" class="img-responsive"></div>
                                 </td>
                                 <td data-title="Proposer" class="proposer">Puneet Manocha</td>
                                 <td data-title="Relationship" class="relationship">Self</td>
                                 <td data-title="Gender" class="gender">Male</td>
                                 <td data-title="Age" class="age">35</td>
                                 <td data-title="Sum Insured" class="insure"><small>&#8377;</small> 2,00,000</td>
                                 <td data-title="Premium (yearly)" class="premium"><small>&#8377;</small> 5,300 <a href="#">Refresh Premium</a></td>
                                 <td data-title="Quote Expiry Date" class="expiry">22/02/2016</td>
                                 <td data-title="Action" class="active"><a href="#">continue to buy</a></td>
                              </tr>
                         </tbody>
                     </table>
            </div>
                 </div>
                        </uib-tab>

                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</section>
