<section class="dashboard-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="contact-tabs">
                    <uib-tabset active="activeJustified">
                        <uib-tab index="0" heading="APPRECIATE US">
                            <div class="detail appreciate">
                                <div class="input-group">
                                    <span class="input-group-addon feedback" id="basic-addon1">Feedback:</span>
                                    <textarea class="form-control" rows="8" id="comment"></textarea>
                                </div>
                                <button type="button" class="btn btn-success submit ">SUBMIT</button>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="LOCATE US">
                            <div class="detail locate-us">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="head-office">
                                            <h3 class="font-blue">Head Office:</h3>
                                            <strong>Medimanage Insurance Broking Pvt. Ltd. 101, Shiv Kripa, Kirol,</strong>
                                            <p>
                                                Vidyavihar (West), Mumbai-400086 <br> Contact number: 022 67282929 <br> [
                                                9 AM to 6 PM – Monday to Friday ]
                                            </p>
                                        </div>

                                        <div class="branches">
                                            <h3 class="font-blue">Corporate Insurance Branches:</h3>
                                            <span class="font-orange">Bengaluru:</span>
                                            <p>18/3, 2nd Floor, Andree Rd, Shanthi Nagar, Bengaluru 560027</p>
                                            <span class="font-orange">Chennai:</span>
                                            <p>102,Shanthi Sridharan Nivas, Mahalingapuram Main Road, Nungambakkam, Chennai
                                                600034
                                            </p>
                                            <span class="font-orange">Noida:</span>
                                            <p>B-30, Basement 2, Sector 6, Noida 201301</p>
                                        </div>

                                    </div>
                                    <div class="col-md-5">
                                        <div class="email-us">
                                            <h3 class="font-blue">
                                                Email us:
                                            </h3>
                                            <p class="remove-margin">Corporate/Company Insurance:</p>
                                            <span class="font-orange"><a class="font-orange" href="">support@medimanage.com</a></span>
                                            <p class="remove-margin">Individual Insurance:</p>
                                            <span class="font-orange"><a class="font-orange" href="">expert@medimanage.com</a></span>
                                            <p class="remove-margin">Work with us:</p>
                                            <span class="font-orange"><a class="font-orange" href="">he@medimanage.com</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="SUBMIT A QUERY">
                            <div class="detail query">
                                <div class="input-group group-1">
                                    <span class="input-group-addon subject" id="basic-addon1">Subject:</span>
                                    <textarea class="form-control" rows="2" id="comment"></textarea>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon message" id="basic-addon1">Message:</span>
                                    <textarea class="form-control" rows="8" id="comment"></textarea>
                                </div>
                                <button type="button" class="btn btn-success submit ">SUBMIT</button>
                            </div>
                        </uib-tab>
                        <uib-tab index="3" heading="COMPLAINT">
                            <div class="detail complaint">
                                <div class="input-group">
                                    <span class="input-group-addon policy" id="basic-addon1">Policy Number:</span>
                                    <textarea class="form-control" rows="2" id="comment"></textarea>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon complaint-box" id="basic-addon1">Complaint:</span>
                                    <textarea class="form-control" rows="8" id="comment"></textarea>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon attachment" id="basic-addon1">Attachment:</span>
                                    <div class="browse">
                                        <input type="text" class="form-control path" id="usr">
                                        <button type="button" class="btn btn-grey  ">Browse</button>
                                    </div>
                                </div>
                                <p class="font-normal">The maximum file upload size is 2 MB</p>
                                <button type="button" class="btn btn-success submit ">SUBMIT</button>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</section>