<div class="dash-callme">
    <div class="container">
        <div class="call-form margin40">
            <form>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group group-1">
                                    <span class="input-group-addon subject">+91</span>
                                    <input class="form-control" type="text" value="" name="name" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="form-group select-div">
                                        <select class="form-control" id="prod">
                                                    <option disabled selected hidden>Purpose of call </option>
                                                    <option>Buy a policy</option>
                                                    <option>Renew</option>
                                                    <option>Claim</option>
                                                    <option>Issuance status</option>
                                                    <option>Premium receipt</option>
                                                  </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group group-1">
                                    <input class="form-control" type="text" value="" name="reason" placeholder="Mention (If other Reason)">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="padd0">
                                    <button type="button" class="btn btn-success btn-edit">submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
