<section class="dashboard-mypolicies">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="accord-policies">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="status.open">
                            <uib-accordion-heading>
                                <span class="policy-label"> Policy No: <span class="policy-no">P134569845</span> </span>
                                <i class="pull-right plus-minus fa" ng-class="{'fa fa-minus': status.open, 'fa fa-plus': !status.open}"></i>
                            </uib-accordion-heading>
                            <div class="accord-content" id="style-3">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="company-table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Insurance Company</th>
                                                        <th>Sum Insured </th>
                                                        <th>Premium (yearly)</th>
                                                        <th>Start Date</th>
                                                        <th>Expiry Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>John</td>
                                                        <td>₹ 2,00,000</td>
                                                        <td>₹ 5,300</td>
                                                        <td>22/02/2016</td>
                                                        <td>21/02/2017</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="rem">
                                            <div class="renewal">
                                                <img src="img/renewal-btn.png" alt="">
                                                <a href="">Renewal Reminder</a>
                                            </div>
                                            <div class="download">
                                                <img src="img/e-policy-btn.png" alt="">
                                                <a href="">Download E-Policy</a>
                                            </div>
                                        </div>
                                        <div class="cust-table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Insured Name(s):</th>
                                                        <th>Relationship: </th>
                                                        <th>Gender:</th>
                                                        <th>Age:</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Puneet Manocha <span class="proposer">(Proposer)</span></td>
                                                        <td>Self</td>
                                                        <td>Male</td>
                                                        <td>35</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Akshita Manocha</td>
                                                        <td>Wife</td>
                                                        <td>Female</td>
                                                        <td>32</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ayaan Manocha</td>
                                                        <td>Son</td>
                                                        <td>Male</td>
                                                        <td>3</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open1">
                            <uib-accordion-heading>
                                <span class="policy-label"> Policy No: <span class="policy-no">P134569845</span> </span>
                                <i class="pull-right plus-minus fa" ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open2">
                            <uib-accordion-heading>
                                <span class="policy-label"> Policy No: <span class="policy-no">P134569845</span> </span>
                                <i class="pull-right plus-minus fa" ng-class="{'fa fa-minus': status.open2, 'fa fa-plus': !status.open2}"></i>
                            </uib-accordion-heading>
                            This is just some content to illustrate fancy headings.
                        </div>
                    </uib-accordion>
                </div>

            </div>
        </div>
    </div>
</section>
