<section class="dashboard-myprofile">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="profile-tabs margin40">
                    <uib-tabset active="activeJustified">

                        <uib-tab index="0" heading="MY DETAILS">
                            <div class="profile-details">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">First Name:</span>
                                                <input class="form-control" type="text" value="" name="name" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Last Name:</span>
                                                <input class="form-control" type="text" value="" name="name" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Gender:</span>
                                                <input class="form-control" type="text" value="" name="gender" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">DOB:</span>
                                                <input class="form-control" type="date" value="" name="dob" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Age:</span>
                                                <input class="form-control" type="text" value="" name="age" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Mobile:</span>
                                                <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group group-1">
                                        <span class="input-group-addon subject wid33">Contact (Alternate):</span>
                                        <input class="form-control" type="text" value="" name="contact" placeholder="">
                                    </div>
                                    <div class="input-group group-1">
                                        <span class="input-group-addon subject wid33">Registered Email:</span>
                                        <input class="form-control" type="email" value="" name="email" placeholder="">
                                    </div>
                                    <div class="input-group group-1">
                                        <span class="input-group-addon subject wid33">Registered Email:</span>
                                        <input class="form-control" type="email" value="" name="email" placeholder="">
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-success btn-edit">edit details</button>
                                    </div>
                                </form>
                            </div>
                        </uib-tab>


                        <uib-tab index="1" heading="MY FAMILY DETAILS">

                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" is-open="status.open1">
                                    <uib-accordion-heading>
                                        Family Member
                                    </uib-accordion-heading>
                                    <div class="my-dets-tab">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">First Name:</span>
                                                        <input class="form-control" type="text" value="name" name="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Last Name:</span>
                                                        <input class="form-control" type="text" value="" name="name" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Gender:</span>
                                                        <input class="form-control" type="text" value="" name="gender" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">DOB:</span>
                                                        <input class="form-control" type="date" value="" name="dob" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Age:</span>
                                                        <input class="form-control" type="text" value="" name="age" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Mobile:</span>
                                                        <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Contact (Alternate):</span>
                                                <input class="form-control" type="text" value="" name="contact" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open="status.open2">
                                    <uib-accordion-heading>
                                        Family Member2
                                    </uib-accordion-heading>
                                    <div class="my-dets-tab">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">First Name:</span>
                                                        <input class="form-control" type="text" value="name" name="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Last Name:</span>
                                                        <input class="form-control" type="text" value="" name="name" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Gender:</span>
                                                        <input class="form-control" type="text" value="" name="gender" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">DOB:</span>
                                                        <input class="form-control" type="date" value="" name="dob" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Age:</span>
                                                        <input class="form-control" type="text" value="" name="age" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Mobile:</span>
                                                        <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Contact (Alternate):</span>
                                                <input class="form-control" type="text" value="" name="contact" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div uib-accordion-group class="panel-default" is-open="status.open3">
                                    <uib-accordion-heading>
                                        Family Member3
                                    </uib-accordion-heading>
                                    <div class="my-dets-tab">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">First Name:</span>
                                                        <input class="form-control" type="text" value="name" name="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Last Name:</span>
                                                        <input class="form-control" type="text" value="" name="name" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Gender:</span>
                                                        <input class="form-control" type="text" value="" name="gender" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">DOB:</span>
                                                        <input class="form-control" type="date" value="" name="dob" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Age:</span>
                                                        <input class="form-control" type="text" value="" name="age" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group group-1">
                                                        <span class="input-group-addon subject">Mobile:</span>
                                                        <input class="form-control" type="tel" value="" name="mobile" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Contact (Alternate):</span>
                                                <input class="form-control" type="text" value="" name="contact" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="input-group group-1">
                                                <span class="input-group-addon subject">Registered Email:</span>
                                                <input class="form-control" type="email" value="" name="email" placeholder="">
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-success pull-left btn-back marg-l15">edit details</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </uib-accordion>

                        </uib-tab>

                        <uib-tab index="2" heading="START BUYING" id="tab3">


                            <div class="quote-table" id="style-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Insurance <br> Company
                                            </th>
                                            <th>Proposer</th>
                                            <th>Relationship</th>
                                            <th>Gender</th>
                                            <th>Age</th>
                                            <th>Sum Insured</th>
                                            <th>Premium
                                                <p class="yearly">(yearly)</p>
                                            </th>
                                            <th>Quote Expiry Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="img/company-logo-1.jpg" alt="" class="img-responsive"></td>
                                            <td>Puneet Manocha</td>
                                            <td>Self</td>
                                            <td>Male</td>
                                            <td>35</td>
                                            <td>₹ 2,00,000</td>
                                            <td>₹ 5,300
                                                <a href="">
                                                    <p class="premium">Refresh Premium</p>
                                                </a>
                                            </td>
                                            <td>₹ 5,300</td>
                                            <td>
                                                <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                                <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/company-logo-2.jpg" alt="" class="img-responsive"></td>
                                            <td>Puneet Manocha</td>
                                            <td>Self</td>
                                            <td>Male</td>
                                            <td>35</td>
                                            <td>₹ 2,00,000</td>
                                            <td>₹ 5,300
                                                <a href="">
                                                    <p class="premium">Refresh Premium</p>
                                                </a>
                                            </td>
                                            <td>₹ 5,300</td>
                                            <td>
                                                <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                                <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/company-logo-3.jpg" alt="" class="img-responsive"></td>
                                            <td>Puneet Manocha</td>
                                            <td>Self</td>
                                            <td>Male</td>
                                            <td>35</td>
                                            <td>₹ 2,00,000</td>
                                            <td>₹ 5,300
                                                <a href="">
                                                    <p class="premium">Refresh Premium</p>
                                                </a>
                                            </td>
                                            <td>₹ 5,300</td>
                                            <td>
                                                <button type="button" class="btn btn-success cont-btn">CONTINUE TO BUY</button>
                                                <!--<button type="button" class="btn btn-danger requote-btn">REQUOTE</button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>
                </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
    </div>
</section>
