<section class="dashboard-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="contact-tabs">
                    <uib-tabset active="activeJustified">
                        <uib-tab index="0" heading="APPRECIATE US">
                            <div class="detail appreciate">
                                <div class="input-group">
                                    <span class="input-group-addon feedback" id="basic-addon1">Feedback:</span>
                                    <textarea class="form-control" rows="8" id="comment"></textarea>
                                </div>
                                <button type="button" class="btn btn-success submit ">SUBMIT</button>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="LOCATE US">
                            <div class="detail">
                                Justified contentfherherh
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="SUBMIT A QUERY">
                            <div class="detail">
                                frqwdqwwent
                            </div>

                        </uib-tab>
                        <uib-tab index="3" heading="COMPLAINT">
                            <div class="detail">
                                Justified contenfbdregergrhykmukukukuk
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</section>