<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>Frequently Asked Questions</h1>
                <p class="head-content">Everything you really need to know about Health Insurance!</p>
                <div class="help-feed">
                    <div class="input-group input-group-lg ">
                        <input type="text" class="form-control" placeholder="what can we help you with?" aria-describedby="sizing-addon1">
                        <span class="input-group-btn">
                       <button type="button" class="btn btn-success">SEARCH</button>
                  </span>
                    </div>
                </div>
                <div class="accord-list">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" is-open="status.open1">
                            <uib-accordion-heading>
                                <div class="accord-title">1. What will be covered by a Health Insurance Policy?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open1, 'fa fa-chevron-right': !status.open1}"></i>
                            </uib-accordion-heading>
                            <p>A health insurance policy ideally covers 4 categories as mentioned below:</p>
                            <p>a) In-patient Treatment - Hospitalisation expenses incurred for room rent, boarding expenses,
                                nursing, intensive care unit, medical practitioner, medicines and other related expenses
                                due to an illness or accident.</p>
                            <p>b) Pre-Hospitalisation- Expenses incurred due to an illness before hospitalisation</p>
                            <p>c) Post-Hospitalisation- Expenses incurred after discharge from hospitalisation</p>
                            <p>d) Day care procedures- Treatments which do not require 24 hours hospitalisation</p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open2">
                            <uib-accordion-heading>
                                <div class="accord-title">2. Why do I need Health Insurance?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open2, 'fa fa-chevron-right': !status.open2}"></i>
                            </uib-accordion-heading>
                            <p>
                                Illness is unforeseen, and cannot be predicted so Health Insurance comes to your rescue and finances your medical expenses.
                            </p>
                            <p>
                                Moreover the Healthcare expenditure in our country is expensive and so Health Insurance helps in financing the medical emergency.
                            </p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open3">
                            <uib-accordion-heading>
                                <div class="accord-title">3. What are the important things to check in the policy?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open3, 'fa fa-chevron-right': !status.open3}"></i>
                            </uib-accordion-heading>
                            <p>a) Understand whether the product features/benefits meets not only just your current requirements
                                but also future eventualities.</p>
                            <p>b) Know the waiting period for pre-existing diseases, usually an insurance company covers the
                                expenses on pre-existing diseases after a period of 4 years.</p>
                            <p>c) Verify if there is a clause of co-payment (means that the policyholder has to bear some percentage
                                of expense of the claim). The co-pay clause is usually a feature in senior citizen health
                                insurance policies. </p>
                            <p>d) Check the exclusions in the policy. This is important as one should be aware of the limitations
                                in the policy to avoid chaos at the time of a claim.</p>
                            <p>e) Check the Proposal form filled &amp; declarations submitted if they have been recorded correctly
                                &amp; completely.</p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open4">
                            <uib-accordion-heading>
                                <div class="accord-title">4. Do all policies offer cashless facility or I have to ask or pay additional for it?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open4, 'fa fa-chevron-right': !status.open4}"></i>
                            </uib-accordion-heading>
                            <p>Yes, cashless facility is an inherent part of all health insurance policies. You don’t have to
                                ask or pay any additional amount for the same.</p>

                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open5">
                            <uib-accordion-heading>
                                <div class="accord-title">5. What is Pre and Post hospitalization?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open5, 'fa fa-chevron-right': !status.open5}"></i>
                            </uib-accordion-heading>
                            <p>Pre- and Post-hospitalization expenses cover all medical expenses incurred within certain number
                                of days prior to hospitalization and expenses incurred within certain number of days post
                                hospitalization provided the expenses were incurred for the same condition for which you
                                were hospitalised</p>

                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open6">
                            <uib-accordion-heading>
                                <div class="accord-title">6. What is a waiting period?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open6, 'fa fa-chevron-right': !status.open6}"></i>
                            </uib-accordion-heading>
                            <p>A waiting period is the length of time you have to wait before being eligible for claiming Policy
                                benefits. A standard policy would have 3 types of waiting periods:-</p>
                            <p>In the first year of the policy, there would be a waiting period of 30 days for claims related
                                to sickness.</p>
                            <p>Any existing ailment for which treatment or any medication is taken would be excluded for minimum
                                period of 4 years. If there are no ailments declared/detected, then there is no waiting period.</p>
                            <p>For certain specified ailments like Hernia, Cataract, Piles, Knee Replacement, Diabetes, Hypertension
                                the policy has a mandatory waiting period of 1, 2 and 4 years.</p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open7">
                            <uib-accordion-heading>
                                <div class="accord-title">7. Why should I take a Health Policy if I already have health insurance from my employer,
                                    or if my family and <br> I are already covered by my corporate?</div>
                                <i class="pull-right fa shift-icon " ng-class="{'fa fa-chevron-down': status.open7, 'fa fa-chevron-right': !status.open7}"></i>
                            </uib-accordion-heading>
                            <p>Your employer will cover your medical expenses only as long as you are employed. Tomorrow, you
                                may change your job, retire, or even start something on your own. In all such cases you and
                                your family will be stuck if a medical emergency arises and you have not arranged for an
                                alternative health insurance policy. It is at this point of time that Health Insurance policy
                                will come to your rescue.</p>
                            <p>Health Insurance policy can also act as a supplement to your existing medical cover in case the
                                cost of medical treatment is higher than your existing cover level.</p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open8">
                            <uib-accordion-heading>
                                <div class="accord-title">8. What is the basic difference between individual and group health insurance coverage?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open8, 'fa fa-chevron-right': !status.open8}"></i>
                            </uib-accordion-heading>
                            <p>An individual policy is purchased by you directly from us. In a Group Health Insurance Policy,
                                the employer or legally constituted group is the policyholder and the insurance company contracts
                                with the employer.</p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open9">
                            <uib-accordion-heading>
                                <div class="accord-title">9. Is Health insurance Claim payable in Grace period?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open9, 'fa fa-chevron-right': !status.open9}"></i>
                            </uib-accordion-heading>
                            <p>The insurance company is not liable to pay for any claim arising out of an Injury/ Accident/
                                Condition that occurred during the Grace Period. Thus we advise customers to pay the premium
                                atleast 10 days before the due date so that policy can be processed & there is no adverse
                                impact.
                            </p>
                        </div>
                        <div uib-accordion-group class="panel-default" is-open="status.open10">
                            <uib-accordion-heading>
                                <div class="accord-title">10. What is Family Floater?</div>
                                <i class="pull-right fa " ng-class="{'fa fa-chevron-down': status.open10, 'fa fa-chevron-right': !status.open10}"></i>
                            </uib-accordion-heading>
                            <p>Family Floater is a policy which covers more than one family member for a fixed cover. Here the
                                fixed cover is shared by all the family members, i.e. if Shah Family of four take a cover
                                of 5 lakhs, the entire family can share the sum insured of Rs. 5 Lakhs during the term of
                                the policy. So, if Mrs. Shah makes a hospitalization claim of Rs. 75000/-, the remaining
                                4.25 Lakhs can be claimed by the four members in the course of the year.</p>
                        </div>

                    </uib-accordion>
                </div>
                <div class="refresh">
                    <img src="img/loader-img.png" alt="">
                </div>
                <p class="quick-quote"><b>Get a quick quote.</b>Please enter your details.</p>
                <div class="horizontal-form req-quo-frm">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Contact No." id="Contact No." required>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success btn-width ">CALL ME BACK</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>


</section>