<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="login-sec padding40">
                    <div>
                        <h3 class="font-wt700">Forgotten your password?</h3>
                    </div>
                    <div class="dark-font-color2 marg-24">
                        <a href="" class="text-col-blue">Simple.. Fill in your registered email ID and we'll send you instructions on how to create a new one</a>
                    </div>

                    <div>
                        <div class="login-form padding40">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="email">
                                        <div class="lt-icon input-group form-style">
                                            <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                            <input type="email" value="" name="" class=" form-control" placeholder="Email Address" required>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="fgtpassword-submit">
                                <button type="button" class="btn btn-success btn-lg bord-rad5 btn-login font-wt700"> REQUEST PASSWORD </button>
                            </div>
                            <div class="">
                                <a ui-sref="login"> Back to Log in page </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
