<section class="get-quote">
    <div class="div-one">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-8">
                    <div class="banner-text">
                        <h1>Looking for Health Insurance?</h1>
                        <p>Great! Select how you want to start finding the best plan for you & your family</p>
                    </div>
                </div> -->
                <div class="col-md-offset-6 col-md-6">
                    <div class="quick-search ">
                        <h1>Get free Health Insurance quotes from Trusted Experts</h1>
                        <label>Please enter your details</label>
                        <input type="text" class="form-control" placeholder="Full Name" id="Full Nam" required>
                        <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                        <input type="tel" class="form-control" placeholder="Contact no" id="Contact no" required maxlength="13">
                        <button type="button" class="btn btn-success">CALL ME BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="div-two">
        <div class="container">
            <h1>Here's how it works</h1>
            <div class="heding2">
                <img src="img/how-it-work-bg.jpg" alt="" title="" class="img-responsive">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center">Discuss your requirements with <br>Online Sales Expert</p>

                </div>
                <div class="col-md-4">
                    <p class="text-center">Get all details of the policies-Comparison, Features, Premium, Benefits on call & email</p>

                </div>
                <div class="col-md-4">
                    <p class="text-center">Fill the Proposal form & make <br>the payment. Secure your <br>Health instantly!</p>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img src="img/online-seal-icon.jpg" alt="" class="text-center img-responsive imgc-marg">
                </div>
                <div class="col-md-4">
                    <img src="img/features-icon.jpg" alt="" class="text-center img-responsive imgc-marg">
                </div>
                <div class="col-md-4">
                    <img src="img/payment-icon.jpg" alt="" class="text-center img-responsive imgc-marg">
                </div>
            </div>
            <!-- <div class="request">
                <button type="button" class="btn btn-success">REQUEST A QUOTE</button>
            </div> -->
        </div>
    </div>
    <div class="div-3">
        <div class="container">
            <h1>Why Medimanage?</h1>
            <div class="orange-cards">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/recommendation-icon.png" alt=""  class="img-responsive">
                            </div>
                            <h4>Free & Un-Biased Recommendation</h4>
                            <p><span class="font-wt700">Since 1999, We are the only dedicated</span> Health Insurance Specialist in India. No hidden charges or fees charged to you.</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/fact-icon.png" alt="" class="img-responsive">
                            </div>
                            <h4>Dedicated Claims Assistance</h4>
                            <p>We handle the tedious process & all the hassles to get your money to you. So leave it on us & stay <span class="font-wt700">tension-free like our 2 Lakh customers</span></p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/support-icon-white.png" alt="" class="img-responsive">
                            </div>
                            <h4>Complete Policy <br>Record Management</h4>
                            <p><span class="font-wt700">We keep all your policy records,</span> details etc. You can call, email or contact us on Facebook, Twitter, Google+ for any information you need.</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/simplify.png" alt="" class="img-responsive">
                            </div>
                            <h4>Secure & Automated</h4>
                            <p>The buying process & your contact details are secure & safe with us. <span class="font-wt700">We don’t spam you.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-four">
        <div class="container">
            <h1 class="font-wt700 text-center">Compare health Insurance from <br>leading Insurance companies in India</h1>
            <div class="row">
                <div class="col-md-3">
                    <img src="img/black-logo.jpg" alt="" class="text-center img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-1.jpg" alt="" class="text-center img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-2.jpg" alt="" class="text-center img-reponsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-3.jpg" alt="" class="text-center img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="img/black-logo-4.jpg" alt="" class="text-center img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-5.jpg" alt="" class="text-center img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-6.jpg" alt="" class="text-center img-responsive">
                </div>
                <div class="col-md-3">
                    <img src="img/black-logo-7.jpg" alt="" class="text-center img-responsive">
                </div>
            </div>
        </div>
    </div>
    <div class="div-five">
        <div class="container">
            <div class="orange-part">
                <div class="row">
                  <div class="col-md-offset-2 col-md-8">
                    <div class="why-us">
                        <flex-slider flex-slide="slide in mySlides track by $index">
                            <li>
                                <div class="slider-holder">
                                    <h3 class="heading">{{slide.heading}}</h3>
                                    <p class="fixed-content">{{slide.fixedContent}}</p>
                                    <p class="heading-content">{{slide.content}}</p>
                                    <div class="slider-imgholder">
                                        <img ng-src="{{slide.img}}" alt="" class="img-responsive customer-image">
                                    </div>
                                    <p class="cust-name">{{slide.custName}}</p>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-six">
            <div class="press-subs">
                <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <form>
                            <div class="small-form press-subs-frm">
                                <h4 class="black-color font-wt700">Latest news, reviews, deals & announcements from Medimanage straight to your inbox.</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Enter your name" id="Full Name" required>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Enter your email address" id="Email Address" required>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-block font-wt700 text-uppercase sub-btn">Subscribe now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
