<div class="career">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="img/career-bg.png" alt="">
      </div>
      <div class="col-md-8">
        <div class="career-sec padding-top40">
          <h2><span class="font-wt700">Medimanage is</span> <span class="font-wt700 brand-danger">Healthy</span> <span class="font-wt700">&</span> <span class="brand-primary font-wt700">growing</span>. Come along!</h2>
          <p class="career-cont">If you love to challenge limits, act with sensitivity and work with utmost integrity, then you might be the one we are looking for!</p>
          <div class="disp-blk">
            <h4 class="disp-inblk font-wt700 career-up">Hit Upload & let us discover a world of opportunities.</h4>
            <button type="button" class="btn btn-success disp-inblk"><i class="fa fa-upload" aria-hidden="true"></i> UPLOAD RESUME</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
