<div class="get-call">
    <div class="container">
        <div class="call-bg">

            <div class="row">
                <!-- <div class="col-md-4">
              <img src="img/career-bg.png" alt="">
          </div> -->
                <div class=" col-md-offset-4 col-md-8">
                    <div class="getcall-sec padding-top40">
                        <h2><span class="font-wt700">Have us call you now</span> <span class="font-wt700 brand-danger">It's FREE</span></h2>
                        <div class="padd-tb-20">
                            <h3 class="career-up">Your contact details:</h3>
                        </div>
                        <form>
                            <div class="call-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="disp-blk">First Name:</label>
                                            <input type="text" value="" name="" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="disp-blk">Last Name:</label>
                                            <input type="text" value="" name="" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="disp-blk">Mobile Number:</label>
                                            <input type="tel" value="" name="" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group select-div">
                                                <label class="disp-blk">Select Product:</label>
                                              <option>Select Product </option>
                                              <select class="form-control" id="prod">
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                            </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="">
                                                <button type="button" class="btn btn-success"> CALL ME BACK NOW</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
