<section class="home-page">
    <div class="div-one">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="banner-text">
                        <h1>Looking for Health Insurance?</h1>
                        <p>Great! Select how you want to start finding the best plan for you & your family</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="quick-search pull-right">
                        <h1>Get a Quick Quote</h1>
                        <label>Please enter your details</label>
                        <input type="text" class="form-control" placeholder="Full Name" id="Full Nam" required>
                        <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                        <input type="text" class="form-control" placeholder="Contact no" id="Contact no" required>
                        <button type="button" class="btn btn-success">CALL ME BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="div-two">
        <div class="container">
            <h1>What you get?</h1>
            <p>With the ever increasing price-rise and health problems, a health insurance policy is the need of the hour.</p>
            <div class="cards">
                <div class="row">

                    <div class="col-md-offset-1 col-md-10 ">
                        <div class="col-md-4">
                            <div class="time-card">
                                <img src="img/time-icon.png" alt="">
                                <h3>SAVE TIME</h3>
                                <p>We’re fast. Get a quote in under 60 seconds!</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="money-card">
                                <img src="img/mony-icon.png" alt="">
                                <h3>SAVE MONEY</h3>
                                <p>No Sub-limits on diseases, room, hospital charges and doctor fees</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="support-card">
                                <img src="img/support-icon.png" alt="">
                                <h3>FREE SUPPORT</h3>
                                <p>Support by email, phone or on Twitter as well as extensive online help articles</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="request">
                <button type="button" class="btn btn-success">REQUEST A QUOTE</button>
            </div>
        </div>
    </div>
    <div class="div-3">
        <div class="container">
            <h1>Buy With Confidence</h1>
            <div class="orange-cards">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/simplify.png" alt="">
                            </div>
                            <h4>We simplify</h4>
                            <p>Understanding your health plan should be as easy as reading this</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/fact-icon.png" alt="">
                            </div>
                            <h4>We are fact-based</h4>
                            <p>Our unbiased sales experts help you compare the benefits/prices and confidently choose the product suiting your need, budget and lifestyle</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/easy-claims.png" alt="">
                            </div>
                            <h4>We love easy claims</h4>
                            <p>Your claim is our claim Headache free claim support to help you when you need it most</p>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/support-icon-white.png" alt="">
                            </div>
                            <h4>We Support</h4>
                            <p>With you from purchase to renewal and whenever you need us</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request">
                <button type="button" class="btn btn-success">REQUEST A QUOTE</button>
            </div>

        </div>
    </div>
    <div class="div-four">
        <div class="container">
            <h1>Buy Health Insurance in <b>3 Easy Steps</b></h1>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="title-image">
                                <img src="img/pic-1.jpg" class="img-responsive" alt="">
                                <div class="title">Step 1</div>
                            </div>
                            <h4>Enter your details</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa tempora dolore consequatur corporis nobis, rerum repellendus ea dolores, aperiam quisquam eveniet optio minus atque architecto? Illo ad sunt, veritatis tempore.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title-image">
                                <img src="img/pic-2.jpg" class="img-responsive" alt="">
                                <div class="title">Step 2</div>
                            </div>
                            <h4>Choose your best policy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam deleniti, quidem quaerat quia recusandae obcaecati nostrum, sed facere maiores mollitia fugiat reiciendis quasi, vero suscipit neque atque sit, sequi dolor.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="title-image">
                                <img src="img/pic-3.jpg" class="img-responsive" alt="">
                                <div class="title">Step 3</div>
                            </div>
                            <h4>Make Payment & Get Insured</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum explicabo, quis laboriosam alias in adipisci excepturi laudantium ullam! Asperiores obcaecati atque dignissimos at ex aut vero sint libero aliquam pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-form">
                <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                <input type="text" class="form-control" placeholder="Contact no" id="Contact no" required>
                <button type="button" class="btn btn-success">Get a Quote</button>
            </div>
        </div>
    </div>
    <div class="div-five">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="orange-part">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="why-us">
                                    <flex-slider flex-slide="slide in mySlides track by $index">
                                        <li>
                                            <div class="slider-holder">
                                                <h3 class="heading">{{slide.heading}}</h3>
                                                <p class="fixed-content">{{slide.fixedContent}}</p>
                                                <p class="heading-content">{{slide.content}}</p>
                                                <div class="slider-imgholder">
                                                    <img ng-src="{{slide.img}}" alt="" class="img-responsive customer-image">
                                                </div>
                                                <p class="cust-name">{{slide.custName}}</p>
                                                <button type="button" class="btn btn-success">HAPPY TO HELP</button>
                                            </div>
                                        </li>
                                    </flex-slider>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="grey-part">
                        <div class="row">
                            <div class="col-md-10">
                                <h3>Insurance companies we work with</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-1.png" alt="">
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-6.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-7.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="comp-img">
                                            <img src="img/companie-logo-8.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-six">
        <div class="container">
            <div class="story">
                <div class="product-detail-tab">
                    <uib-tabset type="pills">
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/star-icon.png" alt="">
                                </div>
                                <SPAN>PRODUCT REVIEWS</SPAN>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>Product Reviews</h2>
                                <p>
                                    Support you in increasing awareness of the advice and healthcare services <br>  that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/article-icon.png" alt="">
                                </div>
                                <SPAN>ARTICLES</SPAN>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>Articles</h2>
                                <p>
                                    Support you in increasing awareness of the advice and healthcare services  <br> that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/industry-icon.png" alt="">
                                </div>
                                <span>INDUSTRY UPDATES</span>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>Industry Updates</h2>
                                <p>Support you in increasing awareness of the advice and healthcare services <br> that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/blog-icon.png" alt="">
                                </div>
                                <span>BLOG</span>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>Blog</h2>
                                <p>
                                    Support you in increasing awareness of the advice and healthcare services  <br> that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/online-icon.png" alt="">
                                </div>
                                <span>BUY ONLINE</span>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>BUY ONLINE</h2>
                                <p>
                                    Support you in increasing awareness of the advice and healthcare services  <br> that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <div class="icon-image">
                                    <img src="img/medical-icon.png" alt="">
                                </div>

                                <SPAN>PLANS WITHOUT MEDICAL TESTS</SPAN>
                            </uib-tab-heading>
                            <div class="tab-content-detail">
                                <h2>Plans Without Medical Tests</h2>
                                <p>
                                    Support you in increasing awareness of the advice and healthcare services <br>  that you can provide people as their local health expert.
                                </p>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="div-seven">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-card">
                                <img src="img/article-pic-1.jpg" class="img-responsive" alt="">
                                <h4>Best medical insurance policy</h4>
                                <p>Once you have decided to buy the health insurance, it is imperative to understand the best policy that would suit your requirements ...</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-card">
                                <img src="img/article-pic-2.jpg" class="img-responsive" alt="">
                                <h4>Why your company mediclaim policy is not enough?</h4>
                                <p>You may be happy that your company has a health insurance plan but you still need to buy an independent health insurance policy to secure your finances ...</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-card">
                                <img src="img/article-pic-3.jpg" class="img-responsive" alt="">
                                <h4>Critical Illness: Better be prepared than Regret!</h4>
                                <p>Critical Illness cover is a plan which covers certain diseases like Stroke, Cancer, Heart attack which do not necessarily cause death but diminish the working capacity and which have extremely expensive treatments ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request">
                <button type="button" class="btn btn-success">CALL ME BACK</button>
            </div>
            <div class="press-subs">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <form>
                                <div class="small-form padding40 press-subs-frm">
                                    <h4 class="black-color font-wt700">Latest news, reviews, deals & announcements from Medimanage straight to your inbox.</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Enter your name" id="Full Name" required>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Enter your email address" id="Email Address" required>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-block font-wt700 text-uppercase sub-btn">Subscribe now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        </div>
    </div>

</section>
