<div class="insured-details">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="ins-form padding40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a  ui-sref="proposer-details"><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="insured-details" class="current-page"><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a  ui-sref="medical-history"><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="nominee-details"><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="pay-get-insured"><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <form>
                                <div class="card-det">
                                    <div class="card-head">
                                      <h4>Self</h4>
                                    </div>
                                    <div class="card-padd">
                                      <div class="row">
                                          <div class="col-md-3">
                                              <div class="form-group select-div">
                                                  <label for=""></label>
                                                  <select class="form-control" id="prod">
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                              </select>
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <label class="disp-blk">First Name</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <label class="disp-blk">Last Name</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <div class="form-group">
                                                      <label for="">DOB</label>
                                                      <div class="date-col">
                                                          <input type="date" data-date-inline-picker="true" />
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">height(feet)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">height(inch)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">weight(KG)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group select-div">
                                                <label for="">occupation</label>
                                                <select class="form-control" id="prod">
                                                  <option>select occupation</option>
                                                <option>teacher</option>
                                                <option>doctor</option>
                                          </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                                <div class="card-det margin40">
                                    <div class="card-head">
                                      <h4>Spouse</h4>
                                    </div>
                                    <div class="card-padd">
                                      <div class="row">
                                          <div class="col-md-3">
                                              <div class="form-group select-div">
                                                  <label for=""></label>
                                                  <select class="form-control" id="prod">
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                              </select>
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <label class="disp-blk">First Name</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <label class="disp-blk">Last Name</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                  <div class="form-group">
                                                      <label for="">DOB</label>
                                                      <div class="date-col">
                                                          <input type="date" data-date-inline-picker="true" />
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">height(feet)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">height(inch)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label class="disp-blk">weight(KG)</label>
                                                  <input type="text" value="" name="" placeholder="">
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group select-div">
                                                <label for="">occupation</label>
                                                <select class="form-control" id="prod">
                                                  <option>select occupation</option>
                                                <option>teacher</option>
                                                <option>doctor</option>
                                          </select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>

                            <div class="ins-btn">
                              <div class="row">
                                <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
