<div class="insured-details">
    <div class="container">

        <div class="det-box">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                  <div class="box no-bord">
                    <p class="font-wt700">My Details</p>
                  </div>
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/family-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Policy type: </span><span class="font-wt700"> family</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/gender-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Gender: </span><span class="font-wt700"> male</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/email-icon2.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Pincode: </span><span class="font-wt700">201102</span></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/birth-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c"> Date of Birth: </span> <span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/wife-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">Wife - Date of Birth: </span> <span class="font-wt700">09/04/1986</span></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <div class="disp-inblk det-icon">
                                    <img src="img/kid-icon.png" alt="" class="disp-inblk">
                                </div>
                                <p class="disp-inblk"><span class="col-6c6c6c">kid1 - Date of Birth: </span><span class="font-wt700"> 09/04/1986</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box no-bord det-bg">
                        <div class="disp-inblk det-icon">
                            <img src="img/company-logo-1.jpg" alt="" class="disp-inblk">
                        </div>
                        <p class="disp-inblk font-wt700"> Care-3 (Floater)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box det-bg">
                        <p><span class="font-wt700">Sum Insured:</span><span class="col-6c6c6c"> Rs. 5,00,000</span></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box det-bg">
                        <p><span class="font-wt700">Policy Tenure: </span><span class="col-6c6c6c"> Rs. 5,00,000</span></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="box det-bg">
                        <p><span class="font-wt700">Premium:</span><span class="col-6c6c6c"> Rs. 5,00,000</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="ins-form padding40">
                    <div class="row">

                        <div class="col-md-2  col-sm-12 col-xs-12">
                            <!-- DESKTOP NAV BAR -->
                            <div class="permanent-nav hidden-sm hidden-xs">
                                <ul class="list-unstyled">
                                    <li>
                                        <a ui-sref="proposer-details" class="navpast-comp"><span class="">1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="insured-details" class="navcurrent-page"><span class="">2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="medical-history"><span class="">3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="nominee-details"><span class="">4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="pay-get-insured"><span class="">5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>

                            <!-- TABLET & PHONE NAV BAR -->
                            <div class="permanent-nav hidden-lg hidden-md text-center">
                                <ul class="list-unstyled list-inline">
                                    <li class="text-justify">
                                        <a ui-sref="proposer-details" class="navpast-comp"><span>1</span><p class="disp-blk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li class="text-justify">
                                        <a ui-sref="insured-details" class="navcurrent-page"><span>2</span><p class="disp-blk">Insured<br/> Details</p></a>
                                    </li>
                                    <li class="text-justify">
                                        <a ui-sref="medical-history"><span>3</span><p class="disp-blk">Medical<br/> History</p></a>
                                    </li>
                                    <li class="text-justify">
                                        <a ui-sref="nominee-details"><span>4</span><p class="disp-blk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li class="text-justify">
                                        <a ui-sref="pay-get-insured"><span>5</span><p class="disp-blk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <form>
                                <div class="card-det">
                                    <div class="card-head">
                                        <h4>Self</h4>
                                    </div>
                                    <div class="card-padd">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group select-div">
                                                    <label for=""></label>
                                                    <select class="form-control" id="prod">
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                              </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="disp-blk">First Name</label>
                                                    <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="disp-blk">Last Name</label>
                                                    <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="">DOB</label>
                                                        <div class="date-col">
                                                            <input type="date" data-date-inline-picker="true" class=" form-control" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">height(feet)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">height(inch)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">weight(KG)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group select-div">
                                                    <label for="">occupation</label>
                                                    <select class="form-control" id="prod">
                                                  <option>select occupation</option>
                                                <option>teacher</option>
                                                <option>doctor</option>
                                          </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card-det margin40">
                                    <div class="card-head">
                                        <h4>Spouse</h4>
                                    </div>
                                    <div class="card-padd">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group select-div">
                                                    <label for=""></label>
                                                    <select class="form-control" id="prod">
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                              </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="disp-blk">First Name</label>
                                                    <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="disp-blk">Last Name</label>
                                                    <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label for="">DOB</label>
                                                        <div class="date-col">
                                                            <input type="date" data-date-inline-picker="true" class=" form-control" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">height(feet)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">height(inch)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="disp-blk">weight(KG)</label>
                                                        <input type="text" value="" name="" placeholder="" class=" form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group select-div">
                                                    <label for="">occupation</label>
                                                    <select class="form-control" id="prod">
                                                  <option>select occupation</option>
                                                <option>teacher</option>
                                                <option>doctor</option>
                                          </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="ins-btn">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                    <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
