<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="login-sec padding40">
                    <div>
                        <h3>Your world, Your Happiness</h3>
                        <h5>Get in secutrely with an existing online profile</h5>
                        <div class="media-login dis-block">
                            <button type="button" class="btn btn-primary fb-login bord-rad5 scl-btn"><span><img src="img/fb-icon.png" alt="" title=""></span> Log in </button>
                            <button type="button" class="btn btn-warning g-plus-login bord-rad5 scl-btn"><span><img src="img/g-plus.png" alt="" title=""></span> Google+ </button>
                        </div>
                    </div>
                    <div class="divider">
                        <span> OR </span>
                    </div>
                    <div>
                        <div class="login-form padding40">
                            <div class="email">
                                <div class="lt-icon input-group form-style">
                                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <input type="email" value="" name="" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="password">
                                <div class="lt-icon input-group form-style">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    <input type="password" value="" name="" placeholder="Password">
                                </div>
                            </div>
                            <div class="opt">
                                <div class="lt-icon input-group form-style">
                                    <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></div>
                                    <input type="text" value="" name="" placeholder="OTP">
                                </div>
                                <div class="otp-btn">
                                    <button type="button" class="btn btn-danger bord-rad5 opt-btn">Get OTP</button>
                                </div>
                            </div>
                            <div class="login-btn">
                                <button type="button" class="btn btn-success btn-lg bord-rad5 btn-login">LOG IN</button>
                            </div>

                            <a href="">Forgot your password?</a>
                        </div>
                        <h4>Not a account yet? <a href="">Register here in seconds</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
