<div class="medical-history">
    <div class="container">
      <div class="policy-box margin40">
          <div class="policy-details">
              <div class="modify-box">
                  <span>My Details</span>
              </div>
              <div class="details-box proposer">
                  <ul>
                      <li>
                          <div class="icon"><img src="img/family-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Policy Type: <span>Family</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/gender-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Gender: <span>Male</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/email-icon2.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Pincode: <span>201102</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/birth-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Date of Birth: <span>09/04/1986</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/wife-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Wife - Date of Birth: <span>09/04/1986</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/kid-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Kid 1 - Date of Birth: <span>09/04/1986</span>
                      </li>
                      <div class="cl"></div>
                  </ul>
                  <div class="cl"></div>
              </div>
              <div class="cl"></div>
              <ul class="policy-detail-bott">
                  <li>
                      <div class="icon"><img src="img/company-logo-1.jpg" alt="" title="" class="img-responsive imgc-marg"></div>
                      <small>Care-3 (Floater)</small>
                  </li>
                  <li><span>Sum Insured:</span> Rs. 5,00,000</li>
                  <li><span>Policy Tenure:</span> Rs. 5,00,000</li>
                  <li><span>Premium:</span> Rs. 5,00,000</li>
              </ul>
              <div class="cl"></div>
          </div>
          <!--policy-details End-->
      </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="med-form margin40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a ui-sref="proposer-details" class="navpast-comp"><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="insured-details" class="navpast-comp"><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="medical-history" class="navcurrent-page"><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="nominee-details"><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="pay-get-insured"><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="med-box">
                              <form>
                                  <div class="marg-tb20">
                                      <div class="row">
                                          <div class="col-md-6">
                                              <div class="">
                                                  <p class="font-wt700">Has any of the insured members suffered from following diseases?</p>
                                              </div>
                                              <div class="marg-tb20">
                                                  <p>High or low blood pressure, Chest Pain, or any other cardiac disorder?</p>
                                              </div>
                                              <div class="marg-tb20">
                                                  <p>Tuberculosis, Asthma, Bronchitis or any other lung/respiratory disorder?</p>
                                              </div>
                                              <div class="marg-tb20">
                                                  <p>Ulcer(Stomach/Duodenal), Liver or gall bladder disorder or any other digestive tract disorder?</p>
                                              </div>
                                              <div class="marg-tb20">
                                                  <p>Kidney Failure, Stone in kidney or urinary tract, Prostate disorder or any other kidney/urinary tract disorder?</p>
                                              </div>
                                              <div class="marg-tb20">
                                                  <p>Stroke, Epilepsy (fits), Paralysis or any other nervous system (Brain, Spinal cord, etc) disorder?</p>
                                              </div>
                                          </div>

                                          <div class="col-md-6">
                                              <div class="med-scroll Flipped" id="style-3">
                                                <div class="med-box .Content">
                                                    <div class="med-row disp-inblk">
                                                        <div class="text-center">
                                                            <p class="font-wt700 font-sz14">Puneet Manocha<br><span class="brand-danger">(Self)</span></p>
                                                        </div>
                                                        <div class="toggle-btn marg-t20">
                                                            <label class="switch">
                                                            <input class="switch-input form-control" type="checkbox" />
                                                              <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                                                                          <span class="switch-handle"></span>
                                                            </label>
                                                        </div>
                                                        <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                        </div>
                                                        <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                        </div>
                                                        <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                        </div>
                                                        <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                        </div>
                                                    </div>


                                                    <div class="med-row disp-inblk">
                                                      <div class="text-center">
                                                          <p class="font-wt700 font-sz14">Akshita Manocha<br><span class="brand-danger">(Spouse)</span></p>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input  form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input  form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                    </div>

                                                    <div class="med-row disp-inblk">
                                                      <div class="text-center">
                                                          <p class="font-wt700 font-sz14">Ayaan Manocha<br><span class="brand-danger">(Son)</span></p>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                    </div>


                                                    <div class="med-row disp-inblk">
                                                      <div class="text-center">
                                                          <p class="font-wt700 font-sz14">Arya Manocha<br><span class="brand-danger">(Daughter)</span></p>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                    </div>

                                                    <div class="med-row disp-inblk">
                                                      <div class="text-center">
                                                          <p class="font-wt700 font-sz14">Puneet Manocha<br><span class="brand-danger">(Father)</span></p>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                          <label class="switch">
                                                             <input class="switch-input form-control" type="checkbox" />
                                                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                            <span class="switch-handle"></span>
                                                          </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                      <div class="toggle-btn marg-t20">
                                                        <label class="switch">
                                                           <input class="switch-input form-control" type="checkbox" />
                                                          <span class="switch-label" data-on="Yes" data-off="No"></span>
                                                          <span class="switch-handle"></span>
                                                        </label>
                                                      </div>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                            </div>
                            <div class="ins-btn">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                    <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
