<div class="medical-history">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="med-form margin40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="current-page"><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-6">
                              <div>
                                <p>Has any of the insured members suffered from following diseases?</p>
                              </div>
                              <div>
                                <p>High or low blood pressure, Chest Pain, or any other cardiac disorder?</p>
                              </div>
                              <div>
                                <p>Tuberculosis, Asthma, Bronchitis or any other lung/respiratory disorder?</p>
                              </div>
                              <div>
                                <p>Ulcer(Stomach/Duodenal), Liver or gall bladder disorder or any other digestive tract disorder?</p>
                              </div>
                              <div>
                                <p>Kidney Failure, Stone in kidney or urinary tract, Prostate disorder or any other kidney/urinary tract disorder?</p>
                              </div>
                              <div>
                                <p>Stroke, Epilepsy (fits), Paralysis or any other nervous system (Brain, Spinal cord, etc) disorder?</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
