<div class="nominee-detils">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="nom-form margin40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="current-page"><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>In the event of the death of an Insured Person any payment due under the policy shall become payable to the nominee as per the Policy terms & Conditions. The nominee must be an immediate relative of the Proposer. Nominee for
                                any of the persons proposed to be insured shall be the Proposer.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Nominee Name</label>
                                        <input type="text" value="" name="nomineeName" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select-div">
                                        <label for="">Relationship</label>
                                        <select class="form-control" id="prod">
                                       <option> Father </option>
                                       <option> Mother </option>
                                       <option> Wife </option>
                                       <option> Son </option>
                                 </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Address of the Nominee</label>
                                        <textarea row="1" name="address" id="" placeholder="" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <p class="brand-primary"><i>If the Nominee is minor, name and address of appointee and relationship with minor:</i></p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Nominee Name</label>
                                        <input type="text" value="" name="nomineeName" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select-div">
                                        <label for="">Relationship</label>
                                        <select class="form-control" id="prod">
                                       <option> Father </option>
                                       <option> Mother </option>
                                       <option> Wife </option>
                                       <option> Son </option>
                                 </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Address of the Nominee</label>
                                        <textarea row="1" name="address" id="" placeholder="" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ins-btn">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                    <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
