<div class="nominee-detils">
    <div class="container">

      <div class="policy-box margin40">
          <div class="policy-details">
              <div class="modify-box">
                  <span>My Details</span>
              </div>
              <div class="details-box proposer">
                  <ul>
                      <li>
                          <div class="icon"><img src="img/family-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Policy Type: <span>Family</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/gender-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Gender: <span>Male</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/email-icon2.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Pincode: <span>201102</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/birth-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Date of Birth: <span>09/04/1986</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/wife-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Wife - Date of Birth: <span>09/04/1986</span>
                      </li>
                      <li>
                          <div class="icon"><img src="img/kid-icon.png" alt="" title="" class="img-responsive imgc-marg"></div>
                          Kid 1 - Date of Birth: <span>09/04/1986</span>
                      </li>
                      <div class="cl"></div>
                  </ul>
                  <div class="cl"></div>
              </div>
              <div class="cl"></div>
              <ul class="policy-detail-bott">
                  <li>
                      <div class="icon"><img src="img/company-logo-1.jpg" alt="" title="" class="img-responsive imgc-marg"></div>
                      <small>Care-3 (Floater)</small>
                  </li>
                  <li><span>Sum Insured:</span> Rs. 5,00,000</li>
                  <li><span>Policy Tenure:</span> Rs. 5,00,000</li>
                  <li><span>Premium:</span> Rs. 5,00,000</li>
              </ul>
              <div class="cl"></div>
          </div>
          <!--policy-details End-->
      </div>


        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="nom-form margin40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a ui-sref="proposer-details"  class="navpast-comp" ><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="insured-details" class="navpast-comp"><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="medical-history" class="navpast-comp"><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="nominee-details" class="navcurrent-page"><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a ui-sref="pay-get-insured"><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <p>In the event of the death of an Insured Person any payment due under the policy shall become payable to the nominee as per the Policy terms & Conditions. The nominee must be an immediate relative of the Proposer. Nominee for
                                any of the persons proposed to be insured shall be the Proposer.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Nominee Name</label>
                                        <input type="text" value="" class=" form-control" name="nomineeName" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select-div">
                                        <label for="">Relationship</label>
                                        <select class="form-control" id="prod">
                                       <option> Father </option>
                                       <option> Mother </option>
                                       <option> Wife </option>
                                       <option> Son </option>
                                 </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Address of the Nominee</label>
                                        <textarea row="1" name="address" id="" placeholder="" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <p class="brand-primary"><i>If the Nominee is minor, name and address of appointee and relationship with minor:</i></p>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Nominee Name</label>
                                        <input type="text" class=" form-control" value="" name="nomineeName" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select-div">
                                        <label for="">Relationship</label>
                                        <select class="form-control" id="prod">
                                       <option> Father </option>
                                       <option> Mother </option>
                                       <option> Wife </option>
                                       <option> Son </option>
                                 </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="disp-blk">Address of the Nominee</label>
                                        <textarea row="1" name="address" id="" placeholder=""  class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="ins-btn">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                    <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
