<section>
    <div class="container">
        <div class="ourteam-sec">
            <div>
                <h1 class="black-color font-wt700 text-capitalize"> Meet Our Team </h1>
            </div>
            <div class="black-color marg-24 font-sz16 font-wt600">
                <p>The senior management team brings varied skill set and experience to the table. They are <br>united by a passion for customer service and commitment towards shared values.</p>
            </div>
            <div class="team1">
                <div class="row">
                    <div class="col-md-5"><img src="img/pic-5.png" alt="" class="img-responsive"></div>
                    <div class="col-md-7">
                        <div class="ot-name">
                            <h2>Sudhir Sarnobat</h2>
                            <p>Co founder & CEO</p>
                        </div>
                        <div class="ot-cont">
                            <p>More than the Chief Executive Officer, Sudhir is the Chief Everything Officer. Being a Mechanical Engineer from VJTI, helped him create the IT backbone at the heart of the delivery process at Medimanage. Sudhir headed Regional
                                Sales for Blue Star before founding Medimanage ... More than the Chief Executive Officer, Sudhir is the Chief Everything Officer. Being a Mechanical Engineer from VJTI, helped him create the IT backbone at the heart of
                                the delivery process at Medimanage. Sudhir headed Regional Sales for Blue Star before founding MedimanageMore than the Chief Executive Officer, Sudhir is the Chief Everything Officer. Being a Mechanical Engineer from VJTI,
                                helped him create the IT backbone at the heart of the delivery process at Medimanage. Sudhir headed Regional Sales for Blue Star before founding Medimanage More than the Chief Executive Officer, Sudhir is the Chief Everything
                                Officer. Being a Mechanical Engineer from VJTI, helped him create the IT backbone at the heart of the delivery process at Medimanage. Sudhir headed Regional Sales for Blue Star before founding Medimanage ... More than the
                                Chief Executive Officer, Sudhir is the Chief Everything Officer. Being a Mechanical Engineer from VJTI, helped him create the IT backbone at the heart of the delivery process at Medimanage. Sudhir headed Regional Sales
                                for Blue Star before founding MedimanageMore than the Chief Executive Officer, Sudhir is the Chief Everything Officer. Being a Mechanical Engineer from VJTI, helped him create the IT backbone at the heart of the delivery
                                process at Medimanage. Sudhir headed Regional Sales for Blue Star before founding Medimanage</p>
                        </div>
                        <div class="left-align">
                          <span class=""><i class="view-icon-green">Read More</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team1">
                <div class="row">
                    <div class="col-md-7">
                        <div class="ot-name">
                            <h2>Purandar Bhavani</h2>
                            <p>Co-founder & Director, Marketing</p>
                        </div>
                        <div class="ot-cont">
                            <p>The other half of Sudhir, Purandar leads the corporate (B2B) marketing team. A college mate from VJTI, Purandar headed sales at Dynacraft before starting on their dream venture ... The other half of Sudhir, Purandar leads the
                                corporate (B2B) marketing team. A college mate from VJTI, Purandar headed sales at Dynacraft before starting on their dream venture The other half of Sudhir, Purandar leads the corporate (B2B) marketing team. A college
                                mate from VJTI, Purandar headed sales at Dynacraft before starting on their dream venture
                            </p>
                        </div>
                        <div class="left-align">
                          <span class=""><i class="view-icon-green">Read More</span>
                        </div>
                    </div>
                    <div class="col-md-5"><img src="img/pic-6.png" alt=""></div>
                </div>
            </div>
            <div class="team1">
                <div class="row">
                    <div class="col-md-5"><img src="img/pic-7.png" alt=""></div>
                    <div class="col-md-7">
                        <div class="ot-name">
                            <h2>Nilima Lalsare</h2>
                            <p>Head Operations & Customer Service</p>
                        </div>
                        <div class="ot-cont">
                            <p>A graduate with Psychology and Behavioral Sciences, Nilima has 12 years of experience in organizations like BPL, IDBI Bank and Bajaj Hospital. She oversees the entire operations, claims and customer service and is one of the
                                earliest members of Medimanage A graduate with P sychology and Behavioral Sciences, Nilima has 12 years of experience in organizations like BPL, IDBI Bank and Bajaj Hospital. She oversees the entire operations, claims and
                                customer service and is one of the earliest members of Medimanage A graduate with Psychology and Behavioral Sciences, Nilima has 12 years of experience in organizations like BPL, IDBI Bank and Bajaj Hospital. She oversees
                                the entire operations, claims and customer service and is one of the earliest members of Medimanage</p>
                        </div>
                        <div class="left-align">
                          <span class=""><i class="view-icon-green">Read More</span>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="small-form padding40 req-quo-frm">
                            <h4><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Full Name" id="Full Name">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Email Address" id="Email Address">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Contact No." id="Contact No.">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
