<div class="story-sec font-sz16">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="font-wt700 text-center">
                <h1 class="font-wt700">Our Story</h1>
            </div>
            <div class="story-cont font-color">
                <p class="marg-tb30">The alarming increase in cost of medical expenses has started to affect the health of our savings. Today , even a simple blood test costs upwards of a thousand rupees. We can’t help falling sick but we can surely plan for it with health insurance.
                <p class="marg-tb30">There are plenty of options available in the market. The real challenge lies in choosing the one that is perfect for your needs. This requires an understanding of your future needs and opting for the right Policy with the optimum mix of options,
                  It doesn’t just insulate you from medical inflation but also offers tax savings.</p>
                    benefits and value. However jargons and complicated calculations put-off most people. That’s where we step in.</p>
                <p class="font-wt700 dark-font-color text-center marg-tb30">We are Medimanage, a health insurance service provider staffed with <span class="brand-danger">experts in the field of health insurance</span>. We help you by understanding your needs, explaining various options and recommend the best
                    insurance product that will match your needs.</p>
            </div>

            <div class="margin-bt50">
                <div class="posi-rel">
                  <div class="white-font blue-bg first-bx">
                      <div class="disp-blk marg-bt20">
                          <img src="img/story-icon-1.png" alt="" class="disp-inblk">
                          <h2 class="disp-inblk font-wt700 padd-lf10"> We are the only one of our kind </h2>
                      </div>
                      <div>
                          <p>With our extensive 16yrs of knowledge focused only on Health Insurance (we breath, live & survive on it), we have the required authentic information to help you make an informed decision. Our emails, articles, FAQ’s are easy to understand,
                              extensive & elaborate for anyone who wants to secure his future.</p>
                          <p>We assist you through the entire purchase cycle – from helping you evaluate various options, buying the Policy, simplifying the claims process and renewing your policy. If you are not-so-happy with the services we also help you in
                              portability. We don’t work for any insurance company; we work for - Our customers</p>
                      </div>
                  </div>
                </div>
                <div class="posi-rel">
                  <div class="white-font gray-bg">
                      <div class="disp-blk marg-bt20">
                          <img src="img/story-icon-2.png" alt="" class="disp-inblk">
                          <h2 class="disp-inblk font-wt700 padd-lf10">Understanding leads to smarter buys</h2>
                      </div>
                      <div>
                          <p>We don’t promote a single product; we give unbiased views on the available options in the market. There is no push of any insurance company or plan, we put you - customers in the decision making chair. We just help you with the right
                              feeds to empower the decision, so that the policy works when expected. We see long term view for you & we commit to stand by tirelessly during claims.</p>
                      </div>
                  </div>
                </div>
                <div class="posi-rel">
                  <div class="white-font blue-bg">
                      <div class="disp-blk marg-bt20">
                          <img src="img/story-icon-3.png" alt="" class="disp-inblk">
                          <h2 class="disp-inblk font-wt700 padd-lf10">All at the click of a button</h2>
                      </div>
                      <div>
                          <p>We realize you are hard pressed for time and hence we have a 100% online secure process. You can be rest assured your details are safe with us. Insurance sector is infamous for being guilty on confidentiality. We are here to change
                              that. We respect privacy & give you a No Spam guarantee.</p>
                      </div>
                  </div>
                </div>
                <div class="posi-rel">
                  <div class="white-font gray-bg last-bx">
                      <div class="disp-blk marg-bt20">
                          <img src="img/story-icon-4.png" alt="" class="disp-inblk">
                          <h2 class="disp-inblk font-wt700 padd-lf10">Efficient claims assistance</h2>
                      </div>
                      <div>
                          <p>We believe in YOUR CLAIM = OUR CLAIM. You will know this with the way we follow up for getting the amount paid. We have an in-house expert’s panel who reviews the documents, medical reports or anything that needs to be checked so that
                              it is processed faster. We move mountains & fight for getting valid claims paid. Our 16yrs of knowledge in this sector makes us smart to handle it all in the best way.</p>
                      </div>
                  </div>
                </div>
            </div>
            <div class="text-center font-color margin-bt40">
                <p class="marg-tb30">Our proprietary Claims Assistance Champion ensures efficient processing of claims and quicker communication with you through SMS and Emails.</p>
                <p class="marg-tb30">We, at Medimanage, hold you close to our heart. Every day it is customers like you who give us a reason to come to work. A good review gives us that spring in our step. A lousy one gives us reason to improve. We're a young company - we're
                    learning and improving every day.</p>
                <p class="marg-tb30">Medimanage was started by first generation entrepreneurs – Sudhir Sarnobat and Purandar Bhavani, both engineers from VJTI, Mumbai in 1999. We are <span class="brand-primary font-wt700">IRDA licensed Direct Insurance Broker</span> based in Mumbai and
                    branches in Bangalore, Chennai, Delhi, Pune & other top cities in India. Our corporate arm takes care of over 40 large companies like MphasiS, Citibank, Mastek. Our Individual Health Insurance team has served more than 2Lakh customers.</p>
            </div>

            <div>
                <form>
                    <div class="small-form padding40 req-quo-frm">
                        <h4 class="text-center"><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Full Name" id="Full Name">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Email Address" id="Email Address">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Contact no" id="Contact No.">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
