<div class="our-value">

    <div class="value-head text-center padding40">
        <h1 class="font-wt700 black-color">Our Values</h1>
        <ul class="list-inline white-font font-wt700 text-uppercase">
            <li ng-click="showPassion(1)" ><a ng-class="{'active-orgtab':tabs[0].active}" class="">our passion-you</a></li>
            <li ng-click="showPassion(2)" ><a class="" ng-class="{'active-orgtab':tabs[1].active}">under-promise, over deliver</a></li>
            <li ng-click="showPassion(3)" ><a class="" ng-class="{'active-orgtab':tabs[2].active}">commitment</a></li>
        </ul>
    </div>

  <!--          MAIN VALUE PAGE DEFAULT       -->
    <div class="value-main col-696969 font-sz16 text-justify padding40s" ng-hide='passion || promise || commit'>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-7">
                            <p>Medimanage is run in the true Human Spirit in an environment of openness. Many are surprised to find a professional organization that works without designations, no boss cabins and open house sessions. Founded by first generation
                                entrepreneurs Sudhir Sarnobat and Purandar Bhavani, they have passed on their passion and knowledge to the entire team.</p>
                            <p>With less than 3 years of being licensed as an Insurance broker, our corporate client list is the envy of many. We provide end-to-end Corporate Health Insurance Services and currently insure more than 200,000 lives a year and
                                have handled more than 25000 claims till date</p>
                            <p>Our aim in every customer interaction is to give insurance they need and make them feel good about it by building a high-performing and values-driven organization.</p>
                        </div>
                        <div class="col-md-5">
                            <img src="img/value_img.png" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--      OUR PASSION PAGE      -->
    <div class="value-passion col-696969 font-sz16 text-justify padding40" ng-show='passion'>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="img/value_img1.png" alt="" class="img-responsive" />
                        </div>
                        <div class="col-md-7">
                            <p>Our business is all about YOU -your health, expectations, discomforts, hopes, agonies and joy. Whether it is a process change, development of new service or purchase of software, we apply a simple test- will it help our customers?
                                If the answer is yes, we do it immediately!</p>
                            <p>We believe our customers' health is our top priority. We build resources from information to solutions to help our customers live healthy. If they do fall sick, we help them get proper treatment and smoothen the claim process
                                so that they do not get hit financially. We undergo training in products, regulations or about anything that affects customer experience. We have built best content library and decision support tools to ensure customers
                                get what they want.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--      PROMISE PAGE      -->
    <div class="value-promise col-696969 font-sz16 text-justify padding40 " ng-show='promise'>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-7">
                            <p>We are not dishonest, merely prudent. Quality is most important to us, so is absolute response time. But at the top of lists, by far, is keeping our word.
                              We are continuously sensitized to understand, imbibe and deliver empathetic & exceptional service at all times. We believe in delight & not mere satisfaction.</p>
                              <p>Our constant effort is to simplify health insurance through education, technology and processes so that you stay updated, tuned & happy with Medimanage.</p>
                        </div>
                        <div class="col-md-5">
                            <img src="img/value_img2.png" alt="" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--        COMMITMENT PAGE       -->
    <div class="value-commitment col-696969 font-sz16 text-justify padding40" ng-show='commit'>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="img/value_img3.png" alt="" class="img-responsive" />
                        </div>
                        <div class="col-md-7">
                            <p>We are about commitment towards our customers, employees, vendors and partners.
                            When we undertake a task, we go the extra mile to deliver.
                          This has earned us the trust of our customers to let us take complete process ownership of their Health Insurance.</p>
                          <p>We offer a single point dedicated contact which means that our customers speak to the same representative who knows your case history & is committed to ensure your needs are met.</p>
                          <p>These might seems as idealistic words to you right now.
                           But do connect with us & you will see how we live each of these values every interaction, every day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>//
