<div class="press-page">
    <div class="press-head text-center padding40">
        <ul class="list-inline white-font font-wt700 text-uppercase">
            <li><a href="" class="">press release</a></li>
            <li><a href="">press coverage</a></li>
            <li><a href="">awards & recognition</a></li>
            <li><a href="">media contact</a></li>
        </ul>
    </div>

    <!-- PRESS RLEASE PAGE -->
    <div class="press-release hide">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="press-header">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="press-title">
                                    <h2>press release <span>(2016)</span></h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <form>
                                    <div class="form-group select-div">
                                        <select class="form-control" id="press-rel">
                                    <option>2016</option>
                                    <option>2017</option>
                                </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="press-cont">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="press-cloud">
                                    <p class="font-wt700">02 jan</p>
                                    <p>2016</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="press-stat">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus illo vel provident nisi, laudantium dolorem quibusdam sequi dolore fugit earum magnam ipsum dolorum tempore, suscipit quos consequatur modi perferendis
                                        vitae.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- PRESS COVERAGE PAGE -->
    <div class="press-coverage hide">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="press-header">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="press-title">
                                    <h2>press coverage <span>(2016)</span></h2>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <form>
                                    <div class="form-group select-div">
                                        <select class="form-control" id="press-rel">
                                <option>2016</option>
                                <option>2017</option>
                            </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="press-cont">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="press-cloud">
                                    <p class="font-wt700">02 jan</p>
                                    <p>2016</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="press-stat">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus illo vel provident nisi, laudantium dolorem quibusdam sequi dolore fugit earum magnam ipsum dolorum tempore, suscipit quos consequatur modi perferendis
                                        vitae.
                                    </p>
                                    <i class="press-src brand-danger font-wt700">source: <span class="black-color">mint</span></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- AWARDS & RECOGNITION -->
    <div class="press-awards">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="press-title press-header">
                        <h2>AWARDS & RECOGNITION</h2>
                    </div>
                    <div class="press-cont">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img1.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img2.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img3.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img1.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img2.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                            <div class="col-md-4">
                                <div class="award-holder">
                                    <img src="img/award_img3.png" alt="">
                                </div>
                                <h4>EFFIE Award</h4>
                                <p>EFFIE award in the financial services category in 2011 for marketing effectiveness during the Insurance week</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  MEDIA CONTACT -->
    <div class="press-media hide">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="media-card text-center">
                        <h2 class="font-wt700">Media Contact</h2>
                        <p>For Media Related Queries,<br>
                        Contact : <span class="font-wt700">Priyanka Khandelwal</span></p>
                        <p>+91-22-40976644 / +91 9874560033<br>
                        <span class="brand-danger">priyanka@medimanage.com</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of page-->
