<section>
    <div class="container">
        <div class="policy-sec">
            <div>
                <h1 class="font-wt700"> Privacy Policy </h1>
            </div>
            <div class="col-696969 marg-24 font-sz16">
                <span>At Medimanage we apply high privacy and security standards to protect your personal information. <br>We regularly evaluate our policies and adapt them as necessary to deal with new challenges</span>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="left-align col-696969">
                        <p>At Medimanage we apply high privacy and security standards to protect your personal information. We regularly evaluate our policies and adapt them as necessary to deal with new challenges.</p>
                        <p>By providing your number you are authorizing Medimanage to contact you for the product you have opted for, imparting product knowledge, irrespective of the fact that you have registered yourself under DND or DNC service.</p>
                        <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction
                            information and data stored on our Site.</p>
                        <p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>
                        <p><span class="black-color font-wt700">Your personal information will never be sold</span><br> We will never sell your personal information to anyone, for any reason, at any time. Your information is used
                            <ul>
                                <li><span>To analyze aspects of the website and to improve the Service;</span></li>
                                <li><span>To send any details, offer alerts or communication as per your relevance.</span></li>
                                <li><span>To help you choose & apply for products and services</span></li>
                                <li><span>For better research, project planning, troubleshooting issues,</span></li>
                            </ul>
                        </p>
                        <p>However we also allow you to access information without disclosing any personal information. But there may be a need to collect the same to complete the transaction as per product/process guidelines set by the insurance companies.</p>
                        <p>From time to time we may request more personal information in order to provide you with other benefits of the Service. In such instances, you will always be given the opportunity to provide or to decline to provide that information,
                            and it will be used only for the stated purpose.</p>
                        <p><span class="black-color font-wt700">Blogs, Testimonials & other forums</span><br> With your consent we may post your testimonial along with your name. If you want your testimonial removed please contact us at <a href="" class="text-col-blue">expert@medimanage.com</a></p>
                        <p>If you use a blog or other public forum on our Site, any information you submit there can be read, collected or used by other users and could be used to send you unsolicited messages. We are not responsible for the personal information
                            you choose to submit in these forums.</p>
                        <p><span class="black-color font-wt700">Additional security</span><br> Widgets Our Web site includes Widgets, which are interactive mini-programs that run on our site to provide specific services (e.g. displaying news, opinions, product
                            reviews, etc). Personal information, such as your email address, may be collected through the Widget. Single Sign-On You can log in to our site using sign-in services such as Facebook/ Google or an Open ID provider. These services
                            will authenticate your identity and provide you the option to share certain personal information with us such as your sign-in information, name and email address to link between the sites. Social networking media services like
                            Facebook & Twitter give you the option to post information about your activities on this Web site to your profile page to share with others within your network.</p>
                        <p><span class="black-color font-wt700">Email & SMS communications</span><br> We provide our registered customers with periodic email/SMS alerts. We also allow users to subscribe to newsletters and from time to time may transmit emails
                            disseminating information related to products, comparisons, reviews, industry trends etc. <br>As a subscriber you may opt-out of receiving our emails by choosing to unsubscribe.</p>
                        <p><span class="black-color font-wt700">Data security</span><br> We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once we receive it.</p>
                        <p>We use a combination of firewalls, encryption techniques and authentication procedures, among others, to maintain the security of your online sessions.</p>
                        <p>Our servers are in secure facilities where access requires multiple levels of authentication, including an identity card and biometrics recognition procedures. Security personnel monitor the facilities 7 days a week, 24 hours a
                            day.
                        </p>
                        <p>Our databases are protected from general employee access both physically and logically. We encrypt your Service password so that your password cannot be recovered, even by us. All backup drives and tapes also are encrypted.<br>                            We enforce physical access controls to our buildings.</p>
                        <p>No employee may put any sensitive content on any insecure machine (i.e., nothing can be taken from the database and put on an insecure laptop).</p>
                        <p>Medimanage has been verified for its use of SSL encryption technologies. However, it is important to understand that these precautions apply only to our Site and systems.</p>
                        <p>All communications between your computer and Medimanage that contain any personal information are encrypted. This enables client and server applications to communicate in a way that is designed to prevent eavesdropping, tampering
                            and message forgery.
                        </p>
                        <p>You are responsible for maintaining the security of your Login ID and Password, and may not provide these credentials to any third party. We are not responsible if someone else accesses your account through Registration Information
                            they have obtained from you or through a violation by you of this Privacy and Security Policy.</p>
                    </div>

                    <div>
                        <form>
                            <div class="small-form padding40 req-quo-frm">
                                <h4><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" placeholder="Contact no" id="Contact No." required>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
