<div class="proposer-details">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="prop-form">
                    <div class="row">
                        <div class="col-md-2">
                            <p>propser details</p>
                            <p>propser details</p>
                            <p>propser details</p>
                            <p>propser details</p>
                            <p>propser details</p>
                        </div>
                        <div class="col-md-10">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group select-div">
                                            <select class="form-control" id="prod">
                                                  <option>Mr.</option>
                                                  <option>Mrs.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="disp-blk">First Name:</label>
                                            <input type="text" value="" name="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="disp-blk">middle Name: <span>(optional)</span></label>
                                            <input type="text" value="" name="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="form-group">
                                          <label class="disp-blk">Last Name:</label>
                                          <input type="text" value="" name="" placeholder="">
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
