<div class="proposer-det2">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="prop2-form margin40">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="permanent-nav">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="current-page"><span>1</span><p class="disp-inblk">Proposer<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>2</span><p class="disp-inblk">Insured<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>3</span><p class="disp-inblk">Medical<br/> History</p></a>
                                    </li>
                                    <li>
                                        <a><span>4</span><p class="disp-inblk">Nominee<br/> Details</p></a>
                                    </li>
                                    <li>
                                        <a><span>5</span><p class="disp-inblk">Pay & get<br/> Insured</p></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <form>
                                    <div class="col-md-6">
                                        <div class="addr-head">
                                            <hr>
                                            <h4>communication address</h4>
                                            <p>All communication will be sent to this address</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Street line 1 <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="street1" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Street line 2 <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="street2" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">State <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="state" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">City <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="city" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Postal Code <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="postalCode" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="addr-head">
                                            <hr>
                                            <h4>PERMANENT ADDRESS</h4>
                                            <div class="checkbox">
                                                <label>
                                                <input type="checkbox"> Same as Communication address
                                              </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Street line 1 <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="street1" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Street line 2 <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="street2" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">State <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="state" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">City <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="city" placeholder="" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="disp-blk">Postal Code <span class="brand-danger">*</span></label>
                                            <input type="text" value="" name="postalCode" placeholder="" required>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="ins-btn">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-left btn-back">back</button>
                                    <button type="button" class="btn btn-success pull-right btn-continue">continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
