<section>
    <div class="senior-hd-bg">
        <div class="container">
            <div class="head-txt">
                <h1 class="font-wt700 white-font">HEALTH INSURANCE FOR SENIOR CITIZENS</h1>
                <button type="button" class="btn btn-success btn-block text-uppercase req-q-btn">get a best policy now</button>
            </div>
        </div>
    </div>
    <div class="senior-cont text-justify col-696969 font-sz16">
        <div class="container">
            <div class="senior-padd">
                <div class="row">
                    <div class="col-md-6">
                        <div class="txt-left">
                            <p class="">In India, individuals above the age of 60 are considered as senior citizens. Senior citizens usually have limited income or irregular income after their retirement. They are also more susceptible to illnesses and accidents.
                                The combination of these conditions makes it very important to secure their financial future against rising medical costs. Plans that are specifically designed for their needs are Senior Citizen Plans.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="txt-right">
                            <h4 class="black-color">WHICH TO BUY <span class="font-wt700">SENIOR CITIZEN</span> OR <span class="font-wt700">FLOATER</span>?</h4>
                            <p>Family floater plans calculate their premium basis the age of the oldest family member. Besides if they happen to have an existing medical condition, then it unfairly affects the premium rates for the rest of the healthy members.
                                If you are living with dependent parents who are above 60 years then buy senior citizen health insurance plans for them separately instead of including them in a Family Floater plan.</p>
                        </div>
                    </div>
                </div>
                <div class="senior-click">
                    <div class="input-group">
                        <input type="text" class="form-control sen-clkht" placeholder="Find the best senior citizen policy now" required>
                        <span class="input-group-btn">
                           <button class="btn btn-success text-uppercase font-wt700" type="button">click here</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="senior-point col-696969">
        <div class="container">
            <h3 class="text-center black-color">POINTS TO CONSIDER WHILE BUYING <span class="font-wt700">SENIOR CITIZEN PLANS</span></h3>
            <ul>
                <li><span class="font-wt700 brand-danger">Co-payment ratio:</span> Co-payment stipulates that the policyholder will bear a specified percentage of the claim amount. Plans which place a higher share on the policyholder should be avoided.</li>
                <li><span class="font-wt700 brand-danger">Limit on Surgeries/treatments:</span> Every policy limits certain illnesses or treatments. Generally speaking lesser the limits higher the premium. But the benefits are better when the policy is exercised.</li>
                <li><span class="font-wt700 brand-danger">Pre-existing diseases: </span>Check the existing diseases covered by the policy. In some policies the policy holder has to wait for few years before making a claim.</li>
                <li><span class="font-wt700 brand-danger">Waiting Periods:</span> There is a waiting period of 30 days before any claim can be made in most policies. Check if the waiting period is longer.</li>
                <li><span class="font-wt700 brand-danger">Other Benefits:</span> Some policies don’t cover alternative treatments such as homeopathic, ayurveda etc.</li>
            </ul>
        </div>
    </div>
    <div class="senior-tax text-center">
        <div class="container">
            <h3 class="font-wt700">TAX BENEFITS:</h3>
            <p>Tax deduction is available for Senior Citizen policy up to Rs 30,000 even if one Parent is a senior citizen.</p>
        </div>
    </div>
    <div class="senior-prod text-center">
        <div class="container">
            <h3 class="text-uppercase">TOP 3 POPULAR PRODUCTS:</h3>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img src="img/popular-logo.jpg" alt="" class="img-responsive imgc-marg">
                    <p class="brand-danger font-wt700">RED CARPET POLICY</p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="center-bord">
                        <img src="img/popular-logo-2.jpg" alt="" class="img-responsive imgc-marg">
                        <p class="brand-danger font-wt700">SILVER HEALTH PLAN</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <img src="img/popular-logo-3.jpg" alt="" class="img-responsive imgc-marg">
                    <p class="brand-danger font-wt700">VARISTHA MEDICLAIM</p>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-block text-uppercase req-q-btn">get a <span class="font-wt700">best policy</span> now</button>
        </div>
    </div>
    <div class="senior-why">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/why-buy-bg.png" alt="" class="img-responsive imgc-marg">
                        </div>
                        <div class="col-md-8">
                            <h3>WHY BUY FROM US?</h3>
                            <p class="text-justiy col-696969">We don’t believe in Sales. We believe in Relationships. Our objective is not just to sell right but the take care of your policy processing, renewals & most important Claims. We know what it feels when someone dear is hospitalized
                                & so worrying about the money should not be your concern. We support you in cashless & reimbursement process so that our 16yrs of expertise helps you live stress free.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="senior-req">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <form>
                        <div class="small-form padding40 req-quo-frm">
                            <h4><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Contact no" id="Contact No." required>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
