<section>
    <div class="container">
        <div class="ourteam-sec">
            <div>
                <h1 class="black-color font-wt700 text-capitalize"> Testimonials </h1>
            </div>
            <div class="font-color marg-24 font-sz16">
                <p>There is great satisfaction in knowing you've done your job well and served your customers' interests. It gives us particular satisfaction when our clients take the time to acknowledge their satisfaction by providing Medimanage with their
                    testimonials.
                </p>
            </div>

            <div class="row padding40">
              <div class="col-md-offset-1 col-md-10">
                  <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                              <p class="test-cont">Thanks a lot dear Sweta for the below information. I will soon let you know when you should send your representative for the collection of cheque. Am overwhelmed with the assistance of your and all medimanage support team.</p>
                              <img src="img/pic-8.png" alt="" class="img-responsive test-thumb">
                              <p class="test-name">Amit Tiwari</p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                            <p class="test-cont">I really appreciate all your initiative towards this task, I am rest assured that with people like you around at Mediamanage makes a huge lot of difference in attending customer requests and reaching their satisfaction.</p>
                            <img src="img/pic-8.png" alt="" class="img-responsive test-thumb">
                            <p class="test-name">Amod Kamble</p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                            <p class="test-cont">19 July 2014, I had an excellent experience interacting with Medimanage. I think your advisers are very good. I have interacted with shashi and abhay and admire them both for their persistence and patience.</p>
                            <img src="img/pic-9.jpg" alt="" class="img-responsive test-thumb">
                            <p class="test-name">Ashish</p>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                            <p class="test-cont">I wanted to thank the whole medimanage team & the HR team who helped me get my claim settled on time. I really appreciate the way they all handled this case.Thank You so much.</p>
                            <img src="img/pic-10.jpg" alt="" class="img-responsive test-thumb">
                            <p class="test-name">Bhavna Sharma</p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                            <p class="test-cont">Have Spoke to advisory team, he has listned my need very carefully & suggessted the best plan suits to me. had spoke to many people for Mediclaim policy but one must say that Medimanage is different.</p>
                            <img src="img/pic-11.jpg" alt="" class="img-responsive test-thumb">
                            <p class="test-name">Dipak</p>
                          </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="test-card">
                            <p class="test-cont">Hi! I have received money in my bank account. I want to profusely thank you for the timely help and making this claim process really effortless. Afterall, it was a wise decision to choose medimanage for my insurance purpose.</p>
                            <img src="img/pic-12.jpg" alt="" class="img-responsive test-thumb">
                            <p class="test-name">Dr Pavaman Sindgikar</p>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="loading-img">
          <img src="img/loading-blue.png" alt="">
        </div>

        <div>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="small-form padding40 req-quo-frm">
                        <h4 class="text-center"><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Full Name" id="Full Name" required>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Email Address" id="Email Address" required>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Contact No." id="Contact No." required>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
