<div class="div-five">

    <div class="orange-part">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <div class="why-us">
                        <flex-slider flex-slide="slide in mySlides track by $index">
                            <li>
                                <div class="slider-holder">
                                    <h3 class="heading">{{slide.heading}}</h3>
                                    <p class="fixed-content">{{slide.fixedContent}}</p>
                                    <p class="heading-content">{{slide.content}}</p>
                                    <div class="slider-imgholder">
                                        <img ng-src="{{slide.img}}" alt="" class="img-responsive customer-image">
                                    </div>
                                    <p class="cust-name">{{slide.custName}}</p>
                                    <button type="button" class="btn btn-success">HAPPY TO HELP</button>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="grey-part">
        <div class="row">
            <div class="col-md-10">
                <h3>Insurance companies we work with</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-1.png" alt="" class="img-responsive imgc-marg">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-3.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-4.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-5.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-6.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-7.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp-img">
                            <img src="img/companie-logo-8.png" alt="" class="img-responsive imgc-marg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</div>