<div class="trust-sec font-sz16">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <div class="font-wt700 text-center">
                <h1 class="font-wt700">Our Story</h1>
            </div>
            <div class="trust-cont font-color">
                <p class="marg-tb30">The alarming increase in cost of medical expenses has started to affect the health of our savings. Today , even a simple blood test costs upwards of a thousand rupees. We can’t help falling sick but we can surely plan for it with health insurance.
                <p class="marg-tb30">There are plenty of options available in the market. The real challenge lies in choosing the one that is perfect for your needs. This requires an understanding of your future needs and opting for the right Policy with the optimum mix of options,
                  It doesn’t just insulate you from medical inflation but also offers tax savings.</p>
                    benefits and value. However jargons and complicated calculations put-off most people. That’s where we step in.</p>
                <p class="font-wt700 dark-font-color text-center marg-tb30">We are Medimanage, a health insurance service provider staffed with <span class="brand-danger">experts in the field of health insurance</span>. We help you by understanding your needs, explaining various options and recommend the best
                    insurance product that will match your needs.</p>
            </div>




            <div>
                <form>
                    <div class="small-form padding40 req-quo-frm">
                        <h4 class="text-center"><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Full Name" id="Full Name">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Email Address" id="Email Address">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Contact no" id="Contact No.">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
