<div class="why-sec font-sz16">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="why-medi margin-bt50">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="font-wt700 left-align">
                                <h1 class="font-wt700">Why Medimanage?</h1>
                            </div>
                            <div class="why-cont font-color">
                                <p class="marg-tb30">Health Insurance is important because it involves the health of our family members. If your car was stuck in the garage and the claim settlement was getting delayed, you won’t be stressed, worried as much as you would be
                                    if one of your family members was being refused discharge from the hospital because of unpaid bills.</p>
                                <p class="marg-tb30">A specialist health insurance service enterprise helps you by taking over all these administrative hassles to leave you focused on being there for your loved ones. The service provider also provides you with unbiased advice
                                    and takes full responsibility for the product.</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="img/why-img.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-tab">

        <div class="health-service">
            <h2 class="font-wt700 text-center">Medimanage is India’s first full service Health Insurance<br> Specialist that provides end-to-end services in one website.</h2>
            <div class="col-1">
                <ul>
                    <li>
                        <figure class="h-service-icon"><img src="img/unbiased-icon.png" alt="" title=""></figure>
                        <h5>Unbiased Advice</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible. You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible.   You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible.    </span>
                        <div class="cl"></div>
                    </li>
                    <li>
                        <figure class="h-service-icon"><img src="img/single-point-icon.png" alt="" title=""></figure>
                        <h5>Single Point Contact</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible. </span>
                        <div class="cl"></div>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    <li>
                        <figure class="h-service-icon"><img src="img/personalized-icon.png" alt="" title=""></figure>
                        <h5>Personalized Services</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible. </span>
                        <div class="cl"></div>
                    </li>
                    <li>
                        <figure class="h-service-icon"><img src="img/prompt-icon.png" alt="" title=""></figure>
                        <h5>Prompt Response Systems</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible. </span>
                        <div class="cl"></div>
                    </li>
                </ul>
                <div class="cl"></div>
            </div>
            <div class="col-3">
                <ul>
                    <li>
                        <figure class="h-service-icon"><img src="img/professional-icon.png" alt="" title=""></figure>
                        <h5>Professional Claims management</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible.</span>
                        <div class="cl"></div>
                    </li>
                    <li>
                        <figure class="h-service-icon"><img src="img/extra-icon.png" alt="" title=""></figure>
                        <h5>No Extra Charges, Fees</h5>
                        <span class="more">You expect a hassle-free and transparent processing when it comes to your claims. Our trained team will help you right through the entire process, with documentation, updating you on the status of the claim, ensuring the claim is settled as early as possible. </span>
                        <div class="cl"></div>
                    </li>
                </ul>
            </div>
            <div class="cl"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="request-form">
                    <form>
                        <div class="small-form padding40 req-quo-frm">
                            <h4 class="text-center"><span class="black-color font-wt700">Get a quick quote.</span> Please enter your details.</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Full Name" id="Full Name">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Email Address" id="Email Address">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="Contact no" id="Contact No.">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success btn-block font-wt700 text-uppercase req-q-btn">Call me back</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
