<footer>
    <div class="foot-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="foot-links">
                        <ul>
                            <li>
                                <h5>Get Covered</h5></li>
                            <li><a sref="">Buy Health Insurance</a></li>
                            <li><a sref="">Track application/proposal status</a></li>
                            <li><a sref="">Renew Health Insurance</a></li>
                            <li><a sref="">Set Free Reminders</a></li>
                            <li><a sref="">Gift a Policy</a></li>
                            <li><a sref="">Resume My Quote</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Tips Advice, Blog</h5></li>
                            <li><a sref="">Health Insurance Guide- Glossary/ Definitions</a></li>
                            <li><a sref="">Claim Process & Documents</a></li>
                            <li><a sref="">Health Insurance Experts Blog</a></li>
                            <li><a sref="">Subscribe to Newsletter</a></li>
                            <li><a sref="">Downloads</a></li>
                            <li><a sref="">Reviews & Ratings</a></li>
                            <li><a sref="">FAQ</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Who are We</h5></li>
                            <li><a sref="">Our Story</a></li>
                            <li><a sref="">Meet our Team</a></li>
                            <li><a sref="">Our values</a></li>
                            <li><a sref="">Press</a></li>
                            <li><a sref="">Trust & Security</a></li>
                            <li><a sref="" class="active">Testimonials</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Connect</h5></li>
                            <li><a sref="">Ask an Expert</a></li>
                            <li><a sref="">Get a call back</a></li>
                            <li><a sref="">Need Help?</a></li>
                            <li><a sref="">Sign in</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Legal</h5></li>
                            <li><a sref="">Terms of Use</a></li>
                            <li><a sref="">Disclaimer</a></li>
                        </ul>
                    </div>

                    <div class="foot-address">
                        <p><b>Head Office:</b> Medimanage Insurance Broking Pvt. Ltd, 101- Shiv Kripa, Kirol, Vidyavihar west, Mumbai 400086. Contact number: 022 - 67282929</p>
                        <div class="icons">
                            <img src="img/flat-icons/facebook.png" alt="">
                            <img src="img/flat-icons/twitter.png" alt="">
                            <img src="img/flat-icons/google-plus.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="foot-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Insurance is a subject matter of solicitation. Medimanage Insurance Broking Pvt. Ltd.<br> IRDA Direct Broker License no. DB 333/06 valid till 16-Nov-2018. Principal Officer: Mr. Anil Dange [+91 9930220284]<br> Copyright © 2016,
                        Medimanage Insurance Broking Pvt. Ltd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
