<footer>
    <div class="foot-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="foot-links">
                        <ul>
                            <li>
                                <h5>Get Covered</h5>
                            </li>
                            <li><a ui-sref="#">Buy Health Insurance</a></li>
                            <li><a ui-sref="#">Track application/proposal status</a></li>
                            <li><a ui-sref="#">Set Free Reminders</a></li>
                            <li><a ui-sref="#">Renew Health Insurance</a></li>
                            <li><a ui-sref="#">Gift a Policy</a></li>
                            <li><a ui-sref="#">Resume My Quote</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Tips Advice, Blog</h5>
                            </li>
                            <li><a ui-sref="#">Health Insurance Guide- Glossary/ Definitions</a></li>
                            <li><a ui-sref="#">Claim Process & Documents</a></li>
                            <li><a ui-sref="#">Health Insurance Experts Blog</a></li>
                            <li><a ui-sref="#">Subscribe to Newsletter</a></li>
                            <li><a ui-sref="#">Downloads</a></li>
                            <li><a ui-sref="#">Reviews & Ratings</a></li>
                            <li><a ui-sref="faq">FAQ</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Who are We</h5>
                            </li>
                            <li><a ui-sref="our-story">Our Story</a></li>
                            <li><a ui-sref="our-team">Meet our Team</a></li>
                            <li><a ui-sref="ourvalues">Our values</a></li>
                            <li><a ui-sref="press">Press</a></li>
                            <li><a ui-sref="#">Trust & Security</a></li>
                            <li><a ui-sref="testimonial" class="active">Testimonials</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Connect</h5>
                            </li>
                            <li><a ui-sref="ask-expert">Ask an Expert</a></li>
                            <li><a ui-sref="get-call">Get a call back</a></li>
                            <li><a ui-sref="#">Need Help?</a></li>
                            <li><a ui-sref="login">Sign in</a></li>
                        </ul>

                        <ul>
                            <li>
                                <h5>Legal</h5>
                            </li>
                            <li><a ui-sref="#">Terms of Use</a></li>
                            <li><a ui-sref="#">Disclaimer</a></li>
                        </ul>
                    </div>

                    <div class="foot-address">
                        <p><b>Head Office:</b> Medimanage Insurance Broking Pvt. Ltd, 101- Shiv Kripa, Kirol, Vidyavihar west,
                            Mumbai 400086. Contact number: 022 - 67282929</p>
                        <div class="icons">
                            <a ui-sref="#"><img src="img/flat-icons/facebook.png" alt=""></a>
                            <a ui-sref="#"><img src="img/flat-icons/twitter.png" alt=""></a>
                            <a ui-sref="#"><img src="img/flat-icons/google-plus.png" alt=""></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="foot-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Insurance is a subject matter of solicitation. Medimanage Insurance Broking Pvt. Ltd.<br> IRDA Direct
                        Broker License no. DB 333/06 valid till 16-Nov-2018. Principal Officer: Mr. Anil Dange [+91 9930220284]<br>                        Copyright © 2016, Medimanage Insurance Broking Pvt. Ltd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
