<!--<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</nav>
</header>-->

<header>
    <div class="head-1">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="nav-1">
                                <ul>
                                    <li><a ui-sref="home">HOME</a></li>
                                    <li><a ui-sref="#">ABOUT US <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
                                    <li><a ui-sref="#">HELP <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
                                </ul>


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="claims">
                                <div class="claim-no"><span class="font-sz12 padd-rt10">Claims managed till date: </span> 4422626</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="login">

                                <div class="search-box pull-right">
                                    <input type="text" class="form-control" placeholder="Search" id="search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <a ui-sref="login"><span class="pull-right">LOGIN</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="head-2">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <a ui-sref="home"> <img src="img/logo.png" alt=""></a>
                    <div class="menu-box pull-right">
                        <ul class="list-inline">
                            <li><a sref="">HEALTH INSURANCE
                              <!-- <div class="dropdwn disp-inblk posi-rel"> -->
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <!-- <ul class="drop-menu disp posi-abs">
                                       <li><a href="#">individual</a></li>
                            <li><a tabindex="-1" href="#">family</a></li>
                            <li><a tabindex="-1" href="#">senior citizen</a></li>
                            <li><a tabindex="-1" href="#">maternity</a></li>
                            <li><a tabindex="-1" href="#">personal accident</a></li>
                            <li><a tabindex="-1" href="#">critical illness</a></li>
                            <li><a tabindex="-1" href="#">super top-up</a></li>
                        </ul> -->
                    <!-- </div> -->
                    </a>
                    </li>
                    <li><a sref="">COMPARE & BUY
                               <!-- <div class="dropdwn disp-inblk"> -->
                                     <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                     <!-- <ul class="drop-menu">
                        <li><a tabindex="-1" href="#">sub menu 1</a></li>
                    <li><a tabindex="-1" href="#">sub menu 1</a></li>
                    </ul> -->
                <!-- </div> -->
                </a>
                </li>
                <li><a sref="">WHY MEDIMANAGE?</a></li>
                <li><button type="button" class="btn btn-success" ui-sref="#">GET A FREE QUOTE</button></li>
                </ul>
            </div>
        </div>
    </div>


    </div>
    </div>
</header>
