<!--<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>-->
<div class="side-menu menu">
  <span id="hamburger">Hamburger</span>
  <ul class="list-unstyled">
    <li>
      <a href=""><span class="menuPic-1"></span> <span>List one</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-2"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-3"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-4"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-5"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-6"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-7"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-8"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-9"></span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-10"></span></a>
    </li>

  </ul>
</div>