<!--<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>-->
<div class="side-menu">
  <span id="hamburger" class="ham-icon" ng-click="menuOpen();"><img src="img/list-icon.png" alt=""></span>
  <ul class="list-unstyled">
    <li>
      <a href=""><span class="menuPic-1"></span> <span class="menu-text">My Profile</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-2"></span> <span class="menu-text">My Policies</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-3"></span> <span class="menu-text">My Communications</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-4"></span> <span class="menu-text">My Claims</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-5"></span> <span class="menu-text">My Quotes</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-6"></span> <span class="menu-text">My Downloads</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-7"></span> <span class="menu-text">Call Me</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-8"></span> <span class="menu-text">Contact Us</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-9"></span> <span class="menu-text">Articles</span></a>
    </li>
    <li>
      <a href=""><span class="menuPic-10"></span> <span class="menu-text">Blog</span></a>
    </li>

  </ul>
</div>