<div class="compare-mod text-center posi-rel">
    <h2 class="font-wt700">Compare & Buy</h2>
    <button class="btn btn-clear posi-abs">x</button>
    <div class="comp-table">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="poli-box img-ht">
                  <img src="img/policies-icon.png" class="img-responsive imgc-marg">
                  <p class="font-wt700">policies</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="poli-box">
                  <img src="img/company-logo-1.jpg" class="img-responsive imgc-marg">
                  <p class="font-wt700 text-capitalize">Happy Family Floater <br>(Silver)</p>
                  <img src="img/rating-star.png" height="10px" class="img-responsive imgc-marg">
                  <span class="text-uppercase col-696969 font-wt700">medimanage rating</span>
                  <button ng-click="toggleDet()" class="btn det-btn marg-t10" type="submit">{{(polDet)&& "hide details"|| "view details"}}</button>
              </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="poli-box">
                  <img src="img/company-logo-1.jpg" class="img-responsive imgc-marg">
                  <p class="font-wt700 text-capitalize">Happy Family Floater <br>(Silver)</p>
                  <img src="img/rating-star.png" height="10px" class="img-responsive imgc-marg">
                  <span class="text-uppercase col-696969 font-wt700">medimanage rating</span>
                  <button ng-click="toggleDet()" class="btn det-btn marg-t10" type="submit">{{(polDet)&& "hide details"|| "view details"}}</button>
              </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
              <div class="poli-box">
                  <img src="img/company-logo-1.jpg" class="img-responsive imgc-marg">
                  <p class="font-wt700 text-capitalize">Happy Family Floater <br>(Silver)</p>
                  <img src="img/rating-star.png" height="10px" class="img-responsive imgc-marg">
                  <span class="text-uppercase col-696969 font-wt700">medimanage rating</span>
                  <button ng-click="toggleDet()" class="btn det-btn marg-t10" type="submit">{{(polDet)&& "hide details"|| "view details"}}</button>
              </div>
          </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box img-ht">
              <img src="img/premium-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Premium</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class=""><i class="fa fa-inr" aria-hidden="true"></i> 6,240</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class=""><i class="fa fa-inr" aria-hidden="true"></i> 6,240</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class=""><i class="fa fa-inr" aria-hidden="true"></i> 6,240</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box img-ht">
              <img src="img/unique-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Unique Features</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box blue-hover  ">
              <p class="">No medical tests required upto 60 years</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box blue-hover  ">
              <p class="">No medical tests required upto 60 years</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box blue-hover  ">
              <p class="">No medical tests required upto 60 years</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box img-ht">
              <img src="img/room-rent-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Room rent</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">1% of Sum Insured, per day</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">1% of Sum Insured, per day</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">1% of Sum Insured, per day</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box img-ht">
              <img src="img/copay-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Co-pay</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">10 % of admissible claim amount</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">10 % of admissible claim amount</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">10 % of admissible claim amount</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box img-ht">
              <img src="img/check-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Health check up</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">Not covered</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box   blue-hover">
              <p class="">Not covered</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box    blue-hover">
              <p class="">Not covered</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box ht-130 img-ht">
              <img src="img/buy-icon.png" class="img-responsive imgc-marg">
              <p class="font-wt700">Buy</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box ht-130 buy-box no-marg">
              <img src="img/buy-icon2.png" class="img-responsive imgc-marg ht-auto">
              <p class="">Buy</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box ht-130 buy-box no-marg">
              <img src="img/buy-icon2.png" class="img-responsive imgc-marg ht-auto">
              <p class="">Buy</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="poli-box ht-130 buy-box">
              <img src="img/buy-icon2.png" class="img-responsive imgc-marg ht-auto">
              <p class="">Buy</p>
          </div>
        </div>
      </div>
    </div>
</div>
